ul.no-bullets {
  list-style: none;
  padding: 0;
}

ul.results-list {
  margin: 20px 0 0 0;
}

ul.results-list li {
  margin: 0 0 10px 0;
}

ul.results-list .list-name {
  color: $text-colour-body;
}
