ul.no-bullets {
  list-style: none;
  padding: 0;
}

ul.results-list {
  margin: 20px 15px 50px 15px;
  overflow: scroll;

  @media (min-width: 700px) {
    margin: 20px 15px 0 15px;
  }

  @media (min-width: 992px) {
    margin: 20px 15px 0 15px;
    -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
    padding-bottom: 10%;
  }
}

ul.results-list li {
  margin: 0 0 10px 0;
}

ul.results-list .list-name {
  color: $text-colour-body;
}
