@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans');

$font-stack: "PT Sans", "Helvetica", sans-serif;
$font-stack-mono: "PT Mono", monospace;

$background-dark: #4a4a4a;
$background-light: #f1f2f1;
$background-white: #fff;

$colour-primary: #41d6c3;
$colour-one: #f49c4e;
$colour-one-active: #ea8731;
$colour-two: #5596e6;
$colour-three: #f15a68;


$text-colour-light: #fff;
$text-colour-dark: #444;
$text-colour-body: #3a3a3a;
