/*
 * (C) Copyright IBM Corporation  2016, 2017
 * All Rights Reserved
 */
@import url("https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans");
@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b|Cutive+Mono|Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);
@import url(http://fonts.googleapis.com/css?family=Short+Stack);
h1 {
  color: #fff;
  font-size: 26px;
  margin: 20px 25px;
}

h3 {
  color: #f49c4e;
  font-size: 26px;
  line-height: 1.2;
  margin: 30px 0 30px 0;
  border-bottom: 1px solid #4a4a4a;
}

@media (min-width: 700px) {
  h3 {
    color: #444;
    display: flex;
    align-items: center;
    flex-flow: wrap;
    font-size: 36px;
    min-height: 64px;
    margin: 30px 0 50px 0;
    border-bottom: none;
  }
}
h5 {
  font-weight: bold;
  line-height: 1.4;
  font-size: 16px;
}

a {
  color: #41d6c3;
}

a:hover {
  color: #41d6c3;
  cursor: pointer;
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

p {
  color: #3a3a3a;
  line-height: 1.75;
  margin: 0 0 30px;
}

.highlight {
  color: #f49c4e;
}

.center {
  text-align: center;
}

.helper-text {
  color: #5596e6;
}

.button-container {
  text-align: center;
  margin: 30px 0 50px 0;
}

.btn {
  border-radius: 0;
  border: 0;
  padding: 12px 24px;
  margin: 6px;
  font-size: 16px;
}

.btn .fa {
  font-size: 20px;
  margin-right: 8px;
}

.btn-default {
  background: #f49c4e;
  color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default:active:focus {
  background: #ea8731;
  color: #fff;
  outline: none;
}

.btn-primary {
  background: #5596e6;
  color: #fff;
}

.btn-secondary {
  background: #f15a68;
  color: #fff;
}

.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: #f49c4e;
}

.home-buttons-container {
  margin: 20px 0 0 0;
  text-align: center;
}

@media (min-width: 700px) {
  .button-container {
    margin: 30px 0;
  }

  .btn {
    font-size: 22px;
    font-weight: lighter;
  }

  .btn .fa {
    font-size: 26px;
  }

  .home-buttons-container {
    margin: 50px 0 0 0;
  }
}
.list-filters {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  margin: 0 -30px;
  color: #5596e6;
  background: #f1f2f1;
}

.list-filters-indented {
  margin: 0 -45px;
}

@media (min-width: 700px) {
  .list-filters {
    padding: 0 0 10px 0;
    margin: 0 15px;
    color: #f49c4e;
    background: none;
    border-bottom: 1px solid #f49c4e;
  }

  .list-filters-indented {
    margin: 0 0;
  }
}
.list-filters input[type="checkbox"] {
  margin: 0;
}

.list-filters-label {
  margin: 0 15px 0 0;
}

.list-filters .document-label {
  margin: 0 5px 0 15px;
}
.list-filters .document-label:first-of-type {
  margin: 0 5px 0 0;
}

.journal,
.external-conference,
.patent,
.internal-conference,
.technical-report,
.other-document {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin: 0 10px 0 0;
}

.journal {
  background: #5596e6;
}

.external-conference {
  background: #00b299;
}

.patent {
  background: #7c56a5;
}

.internal-conference {
  background: #f49c4e;
}

.technical-report {
  background: #cc3f40;
}

.other-document {
  background: #94a3ab;
}

.ind, .ac, .gov {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
  margin-left: -10px;
}

.ind {
  background-color: #ff7f0e;
}

.ac {
  background-color: #5596e6;
}

.gov {
  background-color: #2ca02c;
}

ul.no-bullets {
  list-style: none;
  padding: 0;
}

ul.results-list {
  margin: 20px 15px 50px 15px;
  overflow: scroll;
}
@media (min-width: 700px) {
  ul.results-list {
    margin: 20px 15px 0 15px;
  }
}
@media (min-width: 992px) {
  ul.results-list {
    margin: 20px 15px 0 15px;
    -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(black), to(transparent));
    padding-bottom: 10%;
  }
}

ul.results-list li {
  margin: 0 0 10px 0;
}

ul.results-list .list-name {
  color: #3a3a3a;
}

/*
 * (C) Copyright IBM Corporation  2016, 2017
 * All Rights Reserved
 */
textarea {
  font-size: 100%;
}

body > pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
}

#narrative-chart {
  height: 400px;
  border: 1px solid #f1f2f1;
  position: relative;
}

.narrative-legend {
  z-index: 5;
  position: absolute;
  right: 30px;
  top: 15px;
  padding: 10px;
  height: 65px;
  width: 120px;
  border: 1px solid #f1f2f1;
}

.legend-key {
  height: 10px;
  width: 10px;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

svg {
  font: 10px sans-serif;
  background: white;
}

sup, sub {
  line-height: 0;
}

.scene {
  cursor: pointer;
  color: #787878;
  shape-rendering: auto;
}

.scene:hover {
  /*fill-opacity: 0.6;*/
  color: #FFFF00;
}

.node {
  cursor: pointer;
}

.node text {
  pointer-events: none;
  text-shadow: 1px 1px #fff;
  /*font-family: "Walter Turncoat", sans-serif;*/
  font-size: 10px;
}

.link {
  fill: none;
}

.link:hover {
  stroke-opacity: 1;
}

.comic-title {
  cursor: pointer;
  pointer-events: all;
  font-family: "Cutive Mono", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: -1px;
}

#paper-title-box {
  z-index: 5;
  position: absolute;
  left: 30px;
  top: 15px;
  padding: 10px;
  height: 35px;
  width: calc(100% - 195px);
  border: 1px solid #f1f2f1;
}

.paper-title {
  font-size: 14px;
}

.paper-title-placeholder {
  font-size: 14px;
  opacity: 0.5;
}

p.step {
  margin: -0.5em 0 0 1.2em;
}

p.todo {
  font-style: italic;
  margin: 0 0 0 1.2em;
  color: #580000;
  font-size: 12px;
}

.page-header {
  font-family: "PT Mono", monospace;
  margin: 0;
  padding: 4px 0 8px 0;
  border-bottom: 5px solid #41d6c3;
  background: #4a4a4a;
  color: #fff;
}
.page-header h1 {
  display: inline-block;
}
.page-header h1:hover {
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #4a4a4a;
}

.footer form {
  height: 100%;
  display: flex;
  align-items: center;
}

.footer h4 {
  font-size: 24px;
  color: #fff;
  margin: 0 20px;
}

.question-text {
  height: 100%;
  font-size: 22px;
  flex-grow: 5;
  padding: 8px 15px;
  color: #fff;
  background: transparent;
  border: none;
  outline: none;
}

.question-text::placeholder {
  opacity: 0.8;
}

.question-submit {
  height: 100%;
  width: 60px;
  background: transparent;
  color: #fff;
  border: none;
  border-left: 1px solid #a0a0a0;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 18px;
  font-weight: lighter;
  outline: none;
}

.footer-padding {
  margin-bottom: 65px;
}

.interactive-header {
  color: #444;
  line-height: 1.75;
  border-bottom: none;
  margin: 30px 10px 50px 10px;
}

.interactive-header-selected {
  color: #fff;
  background: #41d6c3;
  font-family: "PT Mono", monospace;
  box-shadow: 10px 0 0 #41d6c3, -10px 0 0 #41d6c3;
  padding: 2px 0 6px;
  margin: 0 20px 0 5px;
  position: relative;
  left: 10px;
}

.interactive-header-selected:hover {
  cursor: pointer;
}

.interactive-header-selected .caret {
  margin: 0 5px 0 10px;
}

.sunburst {
  margin-bottom: 30px;
}

.sunburst-svg {
  margin-top: 50px;
}
@media (min-width: 700px) {
  .sunburst-svg {
    margin-top: 0;
  }
}

.small-pie {
  margin-top: 50px;
}
@media (min-width: 700px) {
  .small-pie {
    margin-top: 0;
  }
}

.organisation-bar-chart {
  background: transparent;
}

.organisation-bar-chart text {
  fill: white;
}

.chart-btns {
  text-align: center;
  margin-bottom: 20px;
}

#chart-svg {
  background: none;
}

.scatterInput {
  position: absolute;
  right: 50px;
}

#acInput.scatterInput {
  top: 59px;
}

#indInput.scatterInput {
  top: 79px;
}

#govInput.scatterInput {
  top: 99px;
}

#unInput.scatterInput {
  top: 119px;
}

/* Axis */
#chart-svg .axis text {
  fill: #3a3a3a;
  font-size: 12px;
}

#chart-svg .axis text.label {
  fill: #3a3a3a;
}

.axis text {
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
  fill: #3a3a3a;
}

.axis line, .axis path {
  fill: none;
  stroke: #f1f2f1;
  shape-rendering: crispEdges;
}

.scatter-axis line {
  stroke: #f1f2f1;
}

.scatter-legend {
  stroke: #f1f2f1;
  stroke-width: 1;
  fill: #fff;
}

.legend text {
  fill: #3a3a3a;
}

.d3-tip {
  padding: 12px;
  background: #fff;
  border: 3px solid #41d6c3;
  width: 290px;
}

.d3-tip:after, .d3-tip:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.d3-tip:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.d3-tip:before {
  border-color: rgba(160, 160, 160, 0);
  border-top-color: #41d6c3;
  border-width: 14px;
  margin-left: -14px;
}

.d3-tip h2 {
  color: #3a3a3a;
}

.d3-tip h2 small {
  color: #41d6c3;
}

.d3-tip dl {
  width: 180px;
  float: left;
  font-size: 12px;
}

.d3-tip dt {
  color: #3a3a3a;
  font-weight: lighter;
  width: 120px;
  float: left;
}

.d3-tip dd {
  width: calc(100% - 120px);
  float: left;
}

.d3-tip img {
  float: left;
  width: 80px;
}

#edge-bundle-chart {
  margin: 30px 0 0;
}
@media (min-width: 700px) {
  #edge-bundle-chart {
    padding: 40px 0;
    margin: 0;
  }
}
#edge-bundle-chart svg {
  background: none;
}
#edge-bundle-chart .orgarc path {
  cursor: pointer;
  opacity: 0.8;
}
#edge-bundle-chart .orgarc text {
  cursor: pointer;
  opacity: 1;
}
#edge-bundle-chart g.orgarc:hover {
  opacity: 1;
}
#edge-bundle-chart .orgarc:hover > path {
  stroke: #fff;
}
#edge-bundle-chart .secarc path {
  opacity: 0.8;
}
#edge-bundle-chart .secarc text {
  opacity: 1;
}
#edge-bundle-chart path.arc {
  cursor: move;
  fill: #000;
}
#edge-bundle-chart .node {
  font-size: 10px;
  fill: #eee;
  /*#9C88DE;*/
  opacity: 1;
  cursor: pointer;
  pointer-events: all;
}
#edge-bundle-chart .node text {
  pointer-events: auto;
  text-shadow: none;
}
#edge-bundle-chart .node:hover {
  fill: #fff !important;
  opacity: 1;
  -font-size: 16px;
}
#edge-bundle-chart .link {
  fill: none;
  stroke: #8783B9;
  stroke-opacity: 0.5;
  pointer-events: none;
}
#edge-bundle-chart .link-active {
  stroke-opacity: 0.8;
  stroke-width: 2;
}
#edge-bundle-chart .author-active {
  fill: #FFFF6B;
  opacity: 1;
}
#edge-bundle-chart .author-inactive {
  fill: #999;
  opacity: 0.5;
}
#edge-bundle-chart .author-org-active {
  opacity: 1;
  fill: #fff;
}
#edge-bundle-chart .networkLink {
  fill: none;
  stroke: #8783B9;
}

#force-directed-graph .interlinks-label {
  float: right;
  position: relative;
  color: #3a3a3a;
  font-weight: normal;
  padding: 10px 15px 0 0;
}
#force-directed-graph .interlinks-label input {
  margin-left: 5px;
}
#force-directed-graph svg {
  background: none;
}
#force-directed-graph .node text {
  fill: #fff;
  text-shadow: none;
  font-size: 14px;
  text-anchor: middle;
}
#force-directed-graph .link {
  stroke: #4a4a4a;
}

.paper-img {
  margin: 0 -45px 30px;
  width: calc(100% + 90px);
}
@media (min-width: 700px) {
  .paper-img {
    width: initial;
    margin: 0;
    max-width: 100%;
  }
}

.paper-abstract {
  overflow: scroll;
}

.paper-download-buttons {
  text-align: center;
}

#authors-coauthors-chart .helper-text {
  display: none;
}
@media (min-width: 700px) {
  #authors-coauthors-chart .helper-text {
    display: inherit;
  }
}

html {
  position: relative;
  min-height: 100%;
  background: #fff;
}

body {
  font-family: "PT Sans", "Helvetica", sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  background: none;
}

@media (min-width: 700px) {
  html {
    background: #f1f2f1;
  }
}
.statistics dt {
  width: 175px;
  display: inline-block;
}

.statistics dd {
  width: calc(100% - 180px);
  display: inline-block;
  text-align: right;
  padding: 0 5px 0 0;
}

.data-message {
  margin: 30px -15px 0;
  text-align: center;
  color: #5596e6;
  background: #f1f2f1;
  padding: 10px 30px;
}

.row {
  background: #fff;
}

.hover-helper-text {
  display: none;
}

@media (min-width: 700px) {
  .data-message {
    margin: 0 0 30px 0;
    color: #5596e6;
    background: none;
  }

  .page-header {
    margin: 0 0 15px 0;
  }

  .container {
    padding: 0 15px;
  }

  .content-container {
    margin-bottom: 15px;
  }

  .hover-helper-text {
    display: inherit;
  }
}
@media (min-width: 990px) {
  .container {
    width: 100%;
  }
}
.angular-google-map-container {
  height: 300px;
  margin: 20px 0 30px;
}

/*# sourceMappingURL=style.css.map */
