/*
 * (C) Copyright IBM Corporation  2016, 2017
 * All Rights Reserved
 */

 @import "variables";
 @import "fonts";
 @import "buttons";
 @import "labels";
 @import "lists";
 @import "narrative";

 @import "directives/header";
 @import "directives/footer";
 @import "directives/interactive-header";
 @import "directives/sunburst";
 @import "directives/pie-chart";
 @import "directives/bar-chart";
 @import "directives/scatter-chart";
 @import "directives/edge-bundle-chart";
 @import "directives/force-directed-graph";

 @import "routes/document";
 @import "routes/person";

html {
 position: relative;
 min-height: 100%;
 background: $background-white;
}

body {
  font-family: $font-stack;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  background: none;
}

@media (min-width: 700px) {
  html {
    background: $background-light;
  }
}

.statistics dl > div {
}

.statistics dt {
  width: 175px;
  display: inline-block;
}

.statistics dd {
  width: calc(100% - 180px);
  display: inline-block;
  text-align: right;
  padding: 0 5px 0 0;
}

.data-message {
  margin: 30px -15px 0;
  text-align: center;
  color: $colour-two;
  background: $background-light;
  padding: 10px 30px;
}

.row {
  background: $background-white;
}

.hover-helper-text {
  display: none;
}

@media (min-width: 700px) {
  .data-message {
    margin: 0 0 30px 0;
    color: $colour-two;
    background: none;
  }

  .page-header {
    margin: 0 0 15px 0;
  }

  .container {
    padding: 0 15px;
  }

  .content-container {
    margin-bottom: 15px;
  }

  .hover-helper-text {
    display: inherit;
  }
}

@media (min-width: 990px) {
  .container {
    width: 100%;
  }
}

.angular-google-map-container {
  height: 300px;
  margin: 20px 0 30px;
}
