<div class="container">
  <div class="col-md-12 footer-padding">
    <div class="row">
      <div>
        <h3>NIS ITA Open Source Assets</h3>

        <p>
          Making ITA technology available as open-source software has the great
          advantages of: making it widely available to defence and civil sector
          supply chain ecosystems, avoiding procurement programmes becoming
          locked into a single supplier, and supporting innovation.
        </p>

        <p>
          ITA open-source software comprises:
        </p>

        <ul>
          <li>
            Controlled English (CE), consisting of the
            <a href="http://github.com/ce-store">ce-store</a> and
            <a href="http://github.com/flyingsparx/CENode">CE Node</a>
          </li>
          <li><a href="http://github.com/edgware">Edgware Fabric</a></li>
          <li><a href="http://github.com/gaiandb">Gaian Database</a></li>
        </ul>

        <p>
          Before they became fully open-source, earlier versions were frequently
          placed in the public domain.
        </p>

        <p>
          A number of other ITA technologies which are available within the
          public domain, but not available as open source, are available on the
          IBM developerWorks® website, including the Watson Policy Management
          Language (WPML).
        </p>

        <p>
          The majority of the technology maturation, testing and validation
          required to enable ITA technologies to be made available within the
          public domain and/or as open-source software has occurred through
          transition tasks funded by the MOD and DoD: primarily by Dstl and
          Defence Equipment and Support (DE&amp;S) in the UK, and by ARL and the
          CWP in the US. However, not all of the development has been funded in
          this manner: a significant fraction has been achieved using other
          funding sources available to industry and academia.
        </p>

        <h3>ce-store</h3>

        <p>
          ce-store is available from github:
          <a href="http://github.com/ce-store">github.com/ce-store</a>
        </p>

        <p>
          CE is an unambiguous subset of English that can be both directly
          processed by a machine and understood by a human. Thus both humans and
          machines can work with the same symbolic representation of the world;
          it is not necessary to transform the human representation into a
          computer language that can only be used by a very small number of
          technology experts.
        </p>

        <p>
          The user describes a domain model in terms of concepts, properties and
          relationships, and then populates this model by stating facts and rules:
          all in the form of CE sentences. ce-store stores the domain model
          and facts, and can reason using the rules to create new facts and
          insights.
        </p>

        <p>
          ce-store is an open-source technology —available on github— with
          which CE can be created and experimented upon for the representation
          of knowledge and the application of reasoning. Fact extraction from
          natural language can also be performed using the features of CE and
          ce-store. An application programming interface (API) is provided for
          programmatic agents that convert incoming text into sentences, parse
          those sentences into raw parse trees, and turn the parse trees into
          phrases, all expressed using CE sentences. CE rules are then applied
          to extract facts, their relationships, and their properties. Facts are
          expressed as CE sentences in the context of a domain model described
          by the user.
        </p>

        <h3>CE Node</h3>

        <p>
          CE Node is available from github:
          <a href="http://github.com/flyingsparx/CENode">github.com/flyingsparx/CENode</a>
        </p>

        <p>
          CE Node is a lightweight CE processing environment implemented in
          JavaScript that can be easily deployed in a variety of contexts,
          including Web browsers, mobile apps, and servers. CE Node is
          lightweight in the sense that it does not aim to be a fully-fledged
          CE engine—for example offering only limited inference and natural
          language processing—and requires relatively little network bandwidth
          to download and operate. Once loaded, a CE Node instance can function
          independently without any network connection. This makes it well-suited
          to deployments at the network edge.
        </p>

        <h3>Edgware Fabric</h3>

        <p>
          Edgware Fabric is available from github:
          <a href="http://github.com/edgware">github.com/edgware</a>
        </p>

        <p>
          Edgware Fabric (the open source name of the ITA Information Fabric)
          is a lightweight agile service bus that provides many of the features
          found in an enterprise service bus (such as discovery, routing, a
          registry, and message transformation) but which is built for resource
          constrained, dynamic and/or unreliable environments. Thus it integrates
          systems at the very edge of the network into a service-orientated
          architecture running on (or alongside) the devices that it connects.
          It is designed to be self-managing; it tracks which systems are
          connected, what services they offer and when they are being used. The
          discovery protocol enables neighbouring nodes to quickly form into a
          bus that spans an ad-hoc network of communicating nodes, and can be
          viewed logically as a bus, as illustrated in Figure 23. Actors simply
          request data from the bus for one or more data feed services (hardware
          or software components), requiring no knowledge of the structure of
          the network itself.
        </p>

        <div class="center">
          <img src="./i/edgware.png" width="500" class="asset-image"/>
        </div>

        <p>
          New software services can be deployed on the bus, enabling local
          processing of information at or near its point of origin, saving
          valuable network bandwidth and helping to manage the large volumes of
          data that can be generated by edge devices such as sensors.
        </p>

        <p>
          Edgware Fabric enables information from the edge to be easily
          integrated into existing applications and used in new and innovative
          ways. It can be used with existing hardware (e.g. physical assets such
          as sensors), software and networking technologies.
        </p>

        <h3>The Gaian Database</h3>

        <p>
          Gaian Database is available from github:
          <a href="http://github.com/gaiandb">github.com/gaiandb</a>
        </p>

        <p>
          Federating and aggregating information distributed across a coalition,
          or indeed within any organisation, is a major operational challenge.
          Doing so efficiently, transparently and with minimal management
          overhead has been an unachieved goal, particularly in resource
          constrained and dynamic environments. The Gaian Database addresses
          this challenge.
        </p>

        <div class="center">
          <img src="./i/gaian-node.png" width="500" class="asset-image"/>
        </div>

        <p>
          Gaian embodies the concept of a dynamic distributed federated database
          (DDFD). This is a self-organizing network of federated nodes that
          combines ideas from data federation, distributed databases, network
          topology and the semantics of data. It is an information virtualization
          middleware component that is ideally suited to the ad hoc queries and
          processing operations that are needed to maximize business intelligence.
        </p>

        <p>
          Gaian uses a store locally query anywhere (SLQA) paradigm giving global
          access to data from any participating node. Moreover, Gaian makes it
          possible for a set of heterogeneous data sources to be accessed as a
          single federated database, including sources as diverse as SQL and
          non-SQL databases, document repositories, spreadsheets and text files.
          Applications can transparently perform database queries across a
          multiplicity of data sources in a single operation.
        </p>

        <p>
          Access to data and the flow of data can both be controlled using formal
          policy based mechanisms that provide fine-grained management of security
          constraints. This is achieved using distributed policy enforcement point
          (PEP) and policy decision point (PDP) components at all database nodes
          where policy is to be enforced.
        </p>

        <div class="center">
          <img src="./i/wpml.png" width="500" class="asset-image"/>
        </div>

        <p>
          The Gaian Database uses an extension to the standard Kerberos protocol
          to maintain security and access control within its distributed
          environment. The key to achieving efficient query performance is the
          way in which the nodes logically connect themselves together in order
          to minimise the cost of performing the distributed database operations
          The mechanism used is based on the ITA fundamental research on network
          growth and emergent graph properties. The attachment mechanism results
          in a connected graph structure that has predictable properties that
          directly impact on database query performance, and which scale
          efficiently with network size. Overall this ensures optimal performance
          with minimal overhead.
        </p>

        <p>
          Gaian does not replace existing systems; instead it federates them in
          a transparent, scalable and secure manner. It introduces a new agile
          model of information integration that revolutionizes the way that
          coalitions and organizations can access and exploit the information
          held within their IT systems. Its small footprint and efficiency make
          it ideal for use everywhere from the enterprise to mobile and other
          constrained environments.
        </p>
      </div>
    </div>
  </div>
</div>
