<!--
 * (C) Copyright IBM Corporation  2016, 2017
 * All Rights Reserved
 -->

<div class="container">
  <div class="col-md-12 footer-padding">
    <div class="row">
      <p>
      In the final year of the NIS ITA programme <a ng-href="/Legacy/files/book/ITA%20eBook%20PDF.pdf" target="_self">a final book</a> was written and published (with <a ng-href="/Legacy/files/book/ITA%20eBook%20ePUB.epub" target="_self">a version suitable for eReaders</a> too).
      </p>
    </div>

    <div class="row">
      <p>Amongst other things the book lists achievements created by the alliance:</p>

      <ul>
       <li>
        <strong>Network Tomography for Coalitions</strong>:
        ITA researchers developed the scientific principles underlying monitoring
        of dynamically changing coalition networks with minimum overhead. The
        insights can be used to instrument and observe a variety of networks with
        minimum possible probing.
       </li>
       <li>
        <strong>Distributed Dynamic Processing</strong>:
        The ITA programme developed the concept of bypassing network bottlenecks
        in the coalition edge by moving processing within the network, and analysed
        approaches for mapping distributed applications onto hybrid coalition
        networks. It has created new techniques for distributing streaming and
        transaction oriented applications, analyzing their performance, and
        improving the effectiveness of distributed applications.
       </li>
       <li>
        <strong>Policy-based Security Management</strong>:
        ITA researchers developed new paradigms for security management using a
        policy-based approach, creating new frameworks for policy negotiation,
        policy refinement, and policy analysis. They applied them to create
        constructs like self-managing cells, and manage coalition information
        flows. The team developed techniques for determining security policies
        that can preserve privacy and sensitive data while allowing partners to
        make limited queries on that information.
       </li>
       <li> <strong>Cryptography Applications in Coalition Contexts</strong>:
        The ITA has made fundamental advances in making cryptographic techniques
        applicable in the context of coalition networks. These include the
        development of new identity-based encryption paradigms, efficient
        implementation-friendly reformulation of fully homomorphic encryption
        algorithms, and outsourcing computation securely to untrusted devices
        belonging to coalition partners.
       </li>
       <li>
        <strong>Advances in Argumentation Theory</strong>:
        ITA researchers provided the theoretical glue to accommodate trust,
        inconsistency and uncertainty in a distributed networked information
        systems and propose a principled method for linking provenance data with
        the evaluation of competing hypotheses to counter cognitive bias inherent
        in human analysts.
       </li>
       <li>
        <strong>Insights into fundamental limits and properties of mobile network
        structures</strong>:
        ITA researchers developed a variety of models characterizing scaling
        properties of mobile ad hoc hybrid networks found in coalitions. These
        models determine the fundamental communication capacity of disruption
        tolerant networks, modeled limits on structures with mathematically
        tractable topologies, identified information theoretic limits on
        capacity with security constraints, and characterized performance of
        multi-path and multi-point communications.
       </li>
       <li>
        <strong>Energy Efficiency Techniques</strong>:
        The alliance invented a variety of approaches to improve battery power
        consumption and energy efficiency in ad hoc networks. The approaches
        include distributed beam forming using cooperative communications and
        techniques for improving duty cycling behaviour in networks using self
        organization.
       </li>
       <li>
        <strong>Coalition Communications Interoperability</strong>:
        The alliance created new paradigms for inter-domain routing, identify
        differences in coalitions cultural norms, defined a new paradigm for
        shared understanding, and using declarative technologies for networking
        and security in coalition environments. Another related activity was
        the creation of a collaborative planning model.
       </li>
       <li>
        <strong>Quality of Information (QoI)</strong>:
        The ITA pioneered the concept of QoI, and created the framework,
        algorithms, and various use-cases surrounding the use of QoI in ISR
        and sensor networks. The concept had a significant impact on community,
        including starting the I2QS workshop and being a major thrust in the
        Network Science CTA programme.
       </li>
       <li>
        <strong>Mission-Aware Information Networking</strong>:
        The ITA developed a variety of techniques to adapt the network to meet
        the requirements of a mission, including approaches for optimizing
        networks to meet mission needs, matching assets to missions, and
        isolating faults in information networks. One of the key transition
        outputs was a Sensor Asset Matching tool for matching missions to assets
        available in the field to perform that task.
       </li>
       <li>
        <strong>Dynamic Distributed Federated Databases</strong>:
        ITA researchers created a model to represent sensor information flows
        as distributed databases, and devised the principles that allowed them
        to be federated dynamically in a manner that is both self-organizing
        and scalable. The work resulted in the
        <a ng-href="http://github.com/gaiandb">Gaian Database</a> technology,
        which has had multiple transitions to other programmes in MOD and the
        U.S. Army.
       </li>
       <li>
        <strong>Advances in Cognitive modelling</strong>:
        The ITA made significant advances in the state of cognitive modelling,
        including computational modelling of specific cognitive processes, using
        the ACT-R cognitive architecture for understanding collective agent and
        human interactions, and conducting cognitive social simulations.
       </li>
       <li>
        <strong>Controlled Natural Language/Controlled English</strong>:
        The ITA programme made several advances in using a limited subset of
        English to improve the usability of computing systems by soldiers in
        the field in a variety of contexts, including mission planning, asset
        allocation, and policy specifications. Controlled English led to several
        transition activities through the development of the
        <a ng-href="http://github.com/ce-store">ce-store</a>.
       </li>
      </ul>
    </div>
  </div>
</div>
