<div class="container">
  <div class="col-md-12 footer-padding">
    <div class="row">
      <p>To conclude the 10-year NIS-ITA programme two high-profile "Capstone"
      events were run: one <a ng-href="#US-capstone">in the US</a> and one <a ng-href="#UK-capstone">in the UK</a>.  This page contains
      links to all of the materials used within these Capstone events and
      various news items relating to them.
      </p>

      <hr/>
      <a id="US-capstone"></a>
      <h3>US event - March 16-17 at ARL Adelphi Maryland</h3>
      <p>You can read about the US Capstone event <a ng-href="http://www.arl.army.mil/www/default.cfm?article=2727">here</a></p>

      <h3>Plenary slides</h3>
      <ul>
        <li><a ng-href="/Legacy/files/capstone/plenary/us/ITA_Capstone_Overview.pdf">Overview</a></li>
        <li><a ng-href="/Legacy/files/capstone/plenary/us/ITA_Capstone_Science.pdf">Science</a></li>
        <li><a ng-href="/Legacy/files/capstone/plenary/us/ITA_Capstone_Transition.pdf">Transition</a></li>
        <li><a ng-href="/Legacy/files/capstone/plenary/us/US_ITA_Capstone_Story.pdf">Story</a></li>
        <li><a ng-href="/Legacy/files/capstone/plenary/us/Science_BLUF_final.pdf">Science BLUF (Bottom Line Up Front)</a></li>
      </ul>

      <h3>Science Demonstrations</h3>
      <ul>
        <li>
          <h3>S1 - Adaptive Service Provisioning</h3>
          <ul>
            <li><a ng-href="/Legacy/files/capstone/s1/S1_BLUF.pdf">BLUF</a></li>
            <li>Demo: <a ng-href="http://eaas.res.ibm.com/ddp.eaas/guidedTour.html">Distributed Dynamic Processing</a></li>
            <li>Demo: <a ng-href="http://eaas.res.ibm.com/tomography.eaas/guidedTour.html">Tomography</a></li>
            <li><a ng-href="/Legacy/files/capstone/s1/x.pdf">Overall poster</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s1/S1.P2_Networking_Tomography.pdf">Network Tomography in Coalition Networks</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s1/S1.P3_Multicast_vs_Unicast.docx">Multicast vs. Unicast for Loss Tomography on Trees</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s1/S1.P4_Distributed_Dynamic_Processing.pdf">Distributed Dynamic Processing for Tactical Coalition Networks</a></li>
          </ul>
        </li>
        <li>
          <h3>S2 - Secure Information Processing</h3>
          <ul>
            <li><a ng-href="/Legacy/files/capstone/s2/S2_BLUF.pdf">BLUF</a></li>
            <li>Demo: <a ng-href="http://eaas.res.ibm.com/policy.eaas/">Policy</a></li>
            <li>Video: <a ng-href="/Legacy/files/capstone/s2/videos/FHE_demo_video.mp4">Fully Homomorphic Encryption</a></li>
            <li><a ng-href="/Legacy/files/capstone/s2/S2.P1_Overall_Secure_Information_Processing.pdf">Overall poster</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s2/S2.P2_Policy_Based_Security.pdf">Policy-based security</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s2/S2.P4_Outsourced_Computation_FHE.pdf">Outsourced computation</a></li>
          </ul>
        </li>
        <li>
          <h3>S3 - Reasoning under Uncertainty / Collaborative Information Analysis</h3>
          <ul>
            <li><a ng-href="/Legacy/files/capstone/s3/us/S3_US_BLUF.pdf">BLUF</a></li>
            <li>Video: <a ng-href="/Legacy/files/capstone/s3/videos/S3_Demo.mp4">plain</a> <a ng-href="/Legacy/files/capstone/s3/videos/S3_Demo_Annotated.mp4">annotated</a></li>
            <li><a ng-href="/Legacy/files/capstone/s4/us/S3.P1_Overall_Reasoning_under_Uncertainty.pdf">Overall poster</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s3/us/S3.P2_Agent_Support.pdf">Agent Support for Intelligence Analysis</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s3/us/S3.P6_Models_of_Probablistic_Argumentation.pdf">Argumentation-based Reasoning under Uncertainty</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s3/us/S3.P7_Trust_Assessment.pdf">Trust Assessment under Spare Evidence</a></li>
          </ul>
        </li>
        <li>
          <h3>S4 - Experimentation Facility (US only)</h3>
          <ul>
            <li><a ng-href="http://eaas.res.ibm.com/ef.eaas/guidedTour.html">Demo</a></li>
            <li><a ng-href="/Legacy/files/capstone/s4/S4_Experimentation_Facility.pdf">Overall poster</a></li>
          </ul>
        </li>
      </ul>


      <h3>Transition Demonstrations</h3>
      <ul>
        <li>
          <h3>T1 - Sensor Assignment to Mission</h3>
          <ul>
            <li><a ng-href="/Legacy/files/capstone/t1/T1_BLUF.pdf">BLUF</a></li>
            <li><a ng-href="/Legacy/files/capstone/t1/T1.P1_CERDEC_AI-TECD.pdf">Overall poster</a></li>
            <li>Key paper: <a ng-href="tbc">Sensor Assignment to Mission in AI-TECD</a></li>
          </ul>
        </li>
        <li>
          <h3>T2 - NATO Intelligence Fusion Center (IFC)</h3>
          <ul>
            <li><a ng-href="/Legacy/files/capstone/t2/T2_BLUF.pdf">BLUF</a></li>
            <li><a ng-href="/Legacy/files/capstone/t2/T2.P1_NATO_IFC.pdf">Overall poster</a></li>
            <li><a ng-href="/Legacy/files/capstone/t2/videos/T2 GaianDB_SIGINT_Policy-1.mp4">Video</a></li>
            <li>Key paper: <a ng-href="tbc">Extending the Kerberos Protocol for Distributed Data as a Service</a></li>
          </ul>
        </li>
        <li>
          <h3>T3 - OSCAR</h3>
          <ul>
            <li><a ng-href="/Legacy/files/capstone/t3/T3_OSCAR_BLUF.pdf">BLUF</a></li>
            <li><a ng-href="/Legacy/files/capstone/t3/T3.P1_OSCAR_for_UK_Police.pdf">Overall poster</a></li>
            <li>Key paper: <a ng-href="tbc">From Open Source Communications to Knowledge</a></li>
          </ul>
        </li>
        <li>
          <h3>T4 - Information Fabric</h3>
          <ul>
            <li><a ng-href="/Legacy/files/capstone/t4/T4_Fabric_BLUF.pdf">BLUF</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/t4/T4.P1_Information_Fabric.pdf">Information Fabric</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/t4/T4.P2_Gaian_Database.doc">The Gaian Database: a Dynamic Distributed Federated Database (DDFD)</a></li>
          </ul>
        </li>
      </ul>

      <h3>Booths</h3>
      <ul>
        <li>Open Science Library - <a ng-href="/Legacy/files/capstone/booths/B1.Science_Library.pdf">poster</a></li>
        <li>Achieving deep collaboration in cross-sector international research - <a ng-href="/Legacy/files/capstone/booths/B2.Collaborative_Programme.doc">poster</a></li>
      </ul>

      <hr/>
      <a id="UK-capstone"></a>
      <h3>UK event - April 6-7 at IET Savoy Place London</h3>
      <p>You can read about the UK Capstone event <a ng-href="http://blog.ibmjstart.net/2016/04/21/2876-2/">here</a></p>

      <h3>Plenary slides</h3>
      <ul>
        <li><a ng-href="/Legacy/files/capstone/plenary/uk/Capstone_Master.pdf">Capstone Master</a></li>
        <li><a ng-href="/Legacy/files/capstone/plenary/uk/Intro.pdf">Introduction</a></li>
        <li><a ng-href="/Legacy/files/capstone/plenary/uk/Strategic_View.pdf">Strategic view</a></li>
        <li><a ng-href="/Legacy/files/capstone/plenary/uk/Overview.pdf">Overview</a></li>
        <li><a ng-href="/Legacy/files/capstone/plenary/uk/Advancing_The_Science.pdf">Advancing the Science</a></li>
        <li><a ng-href="/Legacy/files/capstone/plenary/uk/Exploitation.pdf">Exploitation</a></li>
        <li><a ng-href="/Legacy/files/capstone/plenary/uk/Peer_Reviewers_Perspective.pdf">Peer Reviewer's Perspective</a></li>
        <li><a ng-href="/Legacy/files/capstone/plenary/uk/Industry_Perspective.pdf">Industry Perspective</a></li>
        <li><a ng-href="/Legacy/files/capstone/plenary/uk/Capstone_Story.pdf">Story</a></li>
        <li><a ng-href="/Legacy/files/capstone/plenary/uk/Demos_And_Feedback.pdf">Demonstrations and Feedback</a></li>
      </ul>

      <h3>Science Demonstrations</h3>
      <ul>
        <li>
          <h3>S1 - Adaptive Service Provisioning</h3>
          <ul>
            <li><a ng-href="/Legacy/files/capstone/s1/S1_BLUF.pdf">BLUF</a></li>
            <li>Demo: <a ng-href="http://eaas.res.ibm.com/ddp.eaas/guidedTour.html">Distributed Dynamic Processing</a></li>
            <li>Demo: <a ng-href="http://eaas.res.ibm.com/tomography.eaas/guidedTour.html">Tomography</a></li>
            <li><a ng-href="/Legacy/files/capstone/s1/x.pdf">Overall poster</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s1/S1.P2_Networking_Tomography.pdf">Network Tomography in Coalition Networks</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s1/S1.P3_Multicast_vs_Unicast.docx">Multicast vs. Unicast for Loss Tomography on Trees</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s1/S1.P4_Distributed_Dynamic_Processing.pdf">Distributed Dynamic Processing for Tactical Coalition Networks</a></li>
          </ul>
        </li>
        <li>
          <h3>S2 - Secure Information Processing</h3>
          <ul>
            <li><a ng-href="/Legacy/files/capstone/s2/S2_BLUF.pdf">BLUF</a></li>
            <li>Demo: <a ng-href="http://eaas.res.ibm.com/policy.eaas/">Policy</a></li>
            <li>Video: <a ng-href="/Legacy/files/capstone/s2/videos/FHE_demo_video.mp4">Fully Homomorphic Encryption</a></li>
            <li><a ng-href="/Legacy/files/capstone/s2/S2.P1_Overall_Secure_Information_Processing.pdf">Overall poster</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s2/S2.P2_Policy_Based_Security.pdf">Policy-based security</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s2/S2.P4_Outsourced_Computation_FHE.pdf">Outsourced computation</a></li>
          </ul>
        </li>
        <li>
          <h3>S3 - Reasoning under Uncertainty / Collaborative Information Analysis</h3>
          <ul>
            <li><a ng-href="/Legacy/files/capstone/s3/uk/S3_UK_BLUF.pdf">BLUF</a></li>
            <li>Video: <a ng-href="/Legacy/files/capstone/s3/videos/S3_Demo.mp4">plain</a> <a ng-href="/Legacy/files/capstone/s3/videos/S3_Demo_Annotated.mp4">annotated</a></li>
            <li><a ng-href="/Legacy/files/capstone/s3/uk/S3.P1_OverallSummary.docx">Overall poster</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s3/uk/S3.P2A-Provenance.doc">Reasoning about Provenance to Support Intelligence Analysis</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s3/uk/S3.P2B_AgentSupport.doc">Agent Support for Intelligence Analysis</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s3/uk/S3.P4_CNL_Reasoning.doc">Controlled Natural Language for Reasoning</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s3/uk/S3.P6-Reasoning_Under_Uncertainty.docx">Models of Probabilistic Argumentation</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/s3/uk/S3.P7-Bootstrapping_Trust_Assessments.docx">Trust Assessment under Spare Evidence</a></li>
          </ul>
        </li>
      </ul>


      <h3>Transition Demonstrations</h3>
      <ul>
        <li>
          <h3>T1 - Sensor Assignment to Mission</h3>
          <ul>
            <li><a ng-href="/Legacy/files/capstone/t1/T1_BLUF.pdf">BLUF</a></li>
            <li><a ng-href="/Legacy/files/capstone/t1/T1.P1_CERDEC_AI-TECD.pdf">Overall poster</a></li>
            <li>Key paper: <a ng-href="tbc">Sensor Assignment to Mission in AI-TECD</a></li>
          </ul>
        </li>
        <li>
          <h3>T2 - NATO Intelligence Fusion Center (IFC)</h3>
          <ul>
            <li><a ng-href="/Legacy/files/capstone/t2/T2_BLUF.pdf">BLUF</a></li>
            <li><a ng-href="/Legacy/files/capstone/t2/T2.P1_NATO_IFC.pdf">Overall poster</a></li>
            <li><a ng-href="/Legacy/files/capstone/t2/videos/T2 GaianDB_SIGINT_Policy-1.mp4">Video</a></li>
            <li>Key paper: <a ng-href="tbc">Extending the Kerberos Protocol for Distributed Data as a Service</a></li>
          </ul>
        </li>
        <li>
          <h3>T3 - OSCAR</h3>
          <ul>
            <li><a ng-href="/Legacy/files/capstone/t3/T3_OSCAR_BLUF.pdf">BLUF</a></li>
            <li><a ng-href="/Legacy/files/capstone/t3/T3.P1_OSCAR_for_UK_Police.pdf">Overall poster</a></li>
            <li>Key paper: <a ng-href="tbc">From Open Source Communications to Knowledge</a></li>
          </ul>
        </li>
        <li>
          <h3>T4 - Information Fabric</h3>
          <ul>
            <li><a ng-href="/Legacy/files/capstone/t4/T4_Fabric_BLUF.pdf">BLUF</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/t4/T4.P1_Information_Fabric.pdf">Information Fabric</a></li>
            <li>Poster: <a ng-href="/Legacy/files/capstone/t4/T4.P2_Gaian_Database.doc">The Gaian Database: a Dynamic Distributed Federated Database (DDFD)</a></li>
          </ul>
        </li>
      </ul>

      <h3>Booths</h3>
      <ul>
        <li>Open Science Library - <a ng-href="/Legacy/files/capstone/booths/B1.Science_Library.pdf">poster</a></li>
        <li>Achieving deep collaboration in cross-sector international research - <a ng-href="/Legacy/files/capstone/booths/B2.Collaborative_Programme.doc">poster</a></li>
      </ul>

    </div>
  </div>
</div>
