<!--
 * (C) Copyright IBM Corporation  2016, 2017
 * All Rights Reserved
 -->

<div class="container">
  <div class="col-md-12 footer-padding">
    <div class="row">
      <p>
      Throughout the programme the NIS-ITA had a Consortium Management Committee
      ("CMC") which consisted of a representative from each member organisation.
      The CMC was chaired by the representative from the Consortium Lead (IBM).
      Each member organisation had one voting representative on the CMC to
      support programmatic and management-related activities and decisions.
      The CMC was responsible for the management and integration of the
      Consortium’s efforts under the NIS-ITA, including programmatic, technical,
      reporting, financial, and administrative matters.
      The CMC made recommendations concerning the membership of the Consortium,
      the definition of tasks and goals of the member organisations, and the
      distribution of funding to the member organisations. Quarterly meetings
      were conducted by the CMC.
      </p>
    </div>
  </div>
</div>
