<div class="container">
  <div class="col-md-12 footer-padding">
    <div class="row">
      <p>The ITA Experimentation Framework has been created with the followings aims:</p>
      <ul>
       <li>Provide a common prototyping emulation and simulation framework for integrating and validating algorithms and theories in realistic context and environments</li>
       <li>Facilitate the investigation of scenarios across multiple research areas (information sharing, performance optimisation, etc.);</li>
       <li>Provide a framework and unclassified services accessible by ITA Researchers, and university collaborators;</li>
       <li>Enable faster experimentation cycle than otherwise possible;</li>
       <li>Support for and enablement of repeatable experimentation;</li>
       <li>Facilitate the packaging and sharing of experiment bundles with others;</li>
       <li>Accelerates routes to transitions for rapid exploitation of research results;</li>
       <li>Provide a capability to demonstrate research results.</li>
    </div>
    <p>You can access the Experimentation Framework <a ng-href="http://eaas.res.ibm.com">here</a><p>
  </div>
</div>
