<div class="container">
  <div class="col-md-12 footer-padding">
    <div class="row">
      <p>Throughout the 10-year duration of the NIS-ITA programme the research
      direction has been provided by a series of "programme plans" that jointly
      defined by the consortium member organisations in collaboration with the
      government members.
      </p>
      <p>The first such programme plan was defined in 2006 and is referred to as
      the "IPP" (Initial Programme Plan) with a duration of 1 year.
      </p>
      <p>Following this a series on Biennial Programme Plans (BPPs) were defined
      every two years, in: 2007, 2009, 2011, and 2013.
      </p>
      <p>The Final Programme Plan (FPP) was another 1 year duration plan which
      concluded the research activities for the NIS-ITA.
      </p>
      <p>Each of the definition documents for these programme plans can be
      downloaded below:
      </p>
      <ul>
        <li>IPP06</li>
        <li>BPP07</li>
        <li>BPP09</li>
        <li>BPP11</li>
        <li>BPP13</li>
        <li>FPP15</li>
      </ul>
    </div>
  </div>
</div>
