<div class="container">
  <div class="col-md-12 footer-padding">
    <div class="row">
      <p>Throughout the 10-year duration of the NIS-ITA programme the research
      direction has been provided by a series of "programme plans" that jointly
      defined by the consortium member organisations in collaboration with the
      government members.
      </p>
      <p>The first such programme plan was defined in 2006 and is referred to as
      the "IPP" (Initial Programme Plan) with a duration of 1 year.
      </p>
      <p>Following this a series on Biennial Programme Plans (BPPs) were defined
      every two years, in: 2007, 2009, 2011, and 2013.
      </p>
      <p>The Final Programme Plan (FPP) was another 1 year duration plan which
      concluded the research activities for the NIS-ITA.
      </p>
      <p>The documents that define each of these plans are listed below:</p>
      <ul>
        <li>
          <a ng-href="/Legacy/files/plans/IPP2006_TechVolume.pdf" target="_self">IPP 2006</a>
        </li>
        <li>
          <a ng-href="/Legacy/files/plans/BPP2007_TechVolume.pdf" target="_self">BPP 2007</a>
        </li>
        <li>
          <a ng-href="/Legacy/files/plans/BPP2009_TechVolume.pdf" target="_self">BPP 2009</a>
        </li>
        <li>
          <a ng-href="/Legacy/files/plans/BPP2011_TechVolume.pdf" target="_self">BPP 2011</a>
        </li>
        <li>
          <a ng-href="/Legacy/files/plans/BPP2013_TechVolume.pdf" target="_self">BPP 2013</a>
        </li>
        <li>
          <a ng-href="/Legacy/files/plans/FPP2015_TechVolume.pdf" target="_self">FPP 2015</a>
        </li>
      </ul>
    </div>
  </div>
</div>
