.interactive-header {
  color: $text-colour-dark;
  line-height: 1.75;
  border-bottom: none;
  margin: 30px 10px 50px 10px;
}

.interactive-header-selected {
  color: $text-colour-light;
  background: $colour-primary;
  font-family: $font-stack-mono;
  box-shadow: 10px 0 0 $colour-primary, -10px 0 0 $colour-primary;
  padding: 2px 0 6px;
  margin: 0 20px 0 5px;
  position: relative;
  left: 10px;
}

.interactive-header-selected:hover {
  cursor: pointer;
}

.interactive-header-selected .caret {
  margin: 0 5px 0 10px;
}
