@import url(http://fonts.googleapis.com/css?family=Quicksand|Raleway);

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Helvetica", "Raleway", "Quicksand", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  text-rendering: optimizeLegibility;
  background: #22394A;
}

.footer-padding {
  margin-bottom: 60px;
}

/* Fonts */

h1 {
  color: #fff;
  font-size: 26px;
  background: #26343F;
  border-bottom: 0;
  margin: 0;
  padding: 15px;
  display: inline-block;
}

h2 {
  color: #000;
  font-size: 18px;
  margin: 5px 0 15px 0;
}

h3 {
  font-size: 22px;
  color: #fff;
  font-weight: lighter;
}

h4 {
  font-size: 26px;
  color: #fff;
  font-weight: lighter;
  margin: 0;
  padding: 11px 15px;
  border-right: 1px solid #a0a0a0;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
  float: left;
}

h5 {
  color: #fff;
  font-weight: lighter;
}

h5 small {
  color: #B3B3B3;
}

a {
  color: #41D6C3;
  font-weight: lighter;
}

a:hover {
  color: #41D6C3;
}

p {
  color: #fff;
  font-weight: lighter;
}

dl {
  color: #fff;
  margin: 10px 0;
}

dd {
  color: #B3B3B3;
  font-weight: lighter;
}

ul li {
  color: #B3B3B3;
}

label {
  font-weight: lighter;
}

table {
  border-top: 30px solid transparent;
}

tr {
  color: white;
}

th {
  text-align: center;
  padding: 0 5px 10px 0;
  /*border-right: 1px solid #152935;*/
  text-align: center;
}

td {
  font-weight: lighter;
  font-size: 12px;
  padding: 0 5px;
  border-right: 1px solid #152935;
  text-align: center;
  color: #B3B3B3;
}

.no-border {
  border-right: none;
}

.percentage {
  color: #5596e6;
}

.bold {
  font-weight: bold;
}

.highlight {
  color: #41D6C3;
}

.answer-highlight {
  background: rgba(255, 255, 255, 0.1);
  color: rgb(255, 127, 14) !important;
}

.details {
  color: #B3B3B3;
}

.helper-text {
  color: #ddd;
  font-size: 12px;
  margin-right: 10px;
}

.center {
  text-align: center;
}

.float-right {
  float: right;
}

.indent {
  margin-left: 30px;
}

.reset-listener {
  cursor: pointer;
}

.question-text {
  height: 50px;
  font-size: 22px;
  font-weight: lighter;
  width: calc(100% - 100px);
  padding: 8px 15px;
  color: #a0a0a0;
  background: transparent;
  border: none;
}

.question-text::-webkit-input-placeholder {
  opacity: 0.5;
}

.question-text::-moz-placeholder {
  opacity: 0.5;
}

.question-text:-ms-input-placeholder {
  opacity: 0.5;
}

.question-text::placeholder {
  opacity: 0.5;
}

.question-submit {
  width: 49px;
  height: 50px;
  float: right;
  background: transparent;
  color: #fff;
  border: none;
  border-left: 1px solid #a0a0a0;
  border-left: 1px solid rgba(255, 255, 255, 0.25);
  font-size: 12px;
  font-weight: lighter;
}

/* Header */

.page-header {
  margin: 0 0 20px 0;
  padding: 0;
  border-bottom: 0;
  background: #26343F;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #152935;
}

.modal-content {
  background: #152935;
  border-radius: 0;
}

/* Index page */

.description {
  color: #41D6C3;
  text-align: center;
}

.list-view {
  padding: 20px 15px 20px 50px;
}

.side-list-view {
  padding: 20px 0 0 10px;
}

.list-view-no-margin {
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.mini.results-list {
  min-height: 50px;
  max-height: 120px;
}

.results-list {
  color: #fff;
  font-size: 12px;
  padding-left: 20px;
  margin: 15px 0;
  min-height: 150px;
  max-height: 700px;
  overflow-y: auto;
}

.ce-list {
  color: #fff;
  font-size: 12px;
  padding-left: 20px;
  margin: 15px 0;
}

.no-min-list {
  min-height: 0;
}

.indented-list-item {
  margin-left: 30px;
}

.results-list li .list-name {
  color: #fff;
  text-decoration: none;
}

.results-list li .list-name:hover {
  color: #fff;
  border-bottom: 1px solid #fff;
}

.employees-results-list {
  margin-bottom: 30px;
  max-height: 350px;
}

.dropdown a:hover {
  text-decoration: none;
}

.list-view .list-num {
  background: transparent;
  width: 40px;
  padding: 0;
  border: none;
  border-bottom: 2px solid;
  text-align: center;
}

.list-view .list-name {
  margin: 0 2px;
}

.list-view .list-name .caret {
  margin-left: 5px;
}

.chart-btns {
  text-align: center;
}

#chart-svg {
  background: none;
}

.scatterInput {
  position: absolute;
  right: 50px;
}

#acInput.scatterInput {
  top: 39px;
}

#indInput.scatterInput {
  top: 59px;
}

#govInput.scatterInput {
  top: 79px;
}

#unInput.scatterInput {
  top: 99px;
}

.total-publication-count {
  margin-top: 40px;
}

.authorFilters .ind, .authorFilters .ac, .authorFilters .gov {
  margin-top: 1px;
  margin-left: 10px;
  float: left;
}

.ind, .ac, .gov {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 5px;
  margin-left: -10px;
}

.ind {
  background-color: #ff7f0e;
}

.ac {
  background-color: #5596e6;
}

.gov {
  background-color: #2ca02c;
}

.sunburst-svg {
  background: none;
}

/* Paper page */

.paper-img {
  max-width: 75%;
  margin: 0 12.5%;
}

.paper-abstract {
  max-height: 350px;
  overflow-y: auto;
}

.paper-variants {
  margin-bottom: 15px;
}

.paper-buttons {
  text-align: center;
  margin-top: 10px;
}

.paper-buttons .btn {
  width: 140px;
}

.paper-download-buttons {
  text-align: center;
  margin-top: 20px;
}

.paper-download-buttons .btn {
  padding: 5px 50px;
}

.paper-no-venue {
  margin-left: 25px;
}

.dl-horizontal dt {
  width: 80px;
  font-weight: lighter;
}

.dl-horizontal dd {
  margin-left: 100px;
}

.angular-google-map-container {
  height: 200px;
}

/* Author page */

.view-btn {
  vertical-align: top;
  display: inline-block;
  margin-left: 15px;
  width: 150px;
}

.publications {
  color: #fff;
  display: inline-block;
}

#pie-chart {
  margin-right: 30px;
  text-align: center;
}

.pie-svg {
  background: transparent;
}

.pie-legend-text {
  fill: #fff;
}

.small-pie {
  margin-top: 20px;
}

@media (min-width: 800px) {
  .publications .col-md-6 {
      width: 50%;
      float: left;
  }
}

@media (min-width: 600px) {
  .dl-horizontal dt {
    float: left;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.dl-publications dt {
  width: 160px;
}

.dl-publications dd {
  margin-left: 175px;
  text-align: left;
}

#force-directed-graph .interlinks-label {
  float: right;
  position: relative;
  top: 50px;
  right: -111px;
  font-size: 12px;
  color: #fff;
}

#force-directed-graph .interlinks-label input {
  margin-left: 5px;
}

#force-directed-graph svg {
  background: none;
}

#force-directed-graph .node text {
  fill: #fff;
  text-shadow: none;
  font-size: 14px;
  text-anchor: middle;
}

#force-directed-graph .link {
  stroke: #fff;
}

/* Venue page */

.venue-map {
  position: relative;
  height: 700px;
  width: 100%;
}

.venue-map svg {
  background: transparent;
}

.venue-map .datamap path {
  stroke: #000;
}

.venue-details {
  padding-top: 40px;
}

.venue-dates {
  color: #fff;
  font-size: 12px;
  padding-left: 20px;
  margin: 15px 0;
}

/* Organisation page */

.organisation-bar-chart {
  background: transparent;
}

.organisation-bar-chart text {
  fill: white;
}

.d3-tip.dark-tip {
  font-size: 12px;
  background: #152935;
  border: none;
  width: 350px;
  color: #fff;
}

.d3-tip.small-tip {
  width: 250px;
  text-align: center;
}

.d3-tip.dark-tip:after, .d3-tip.dark-tip:before {
  border-top-color: #152935;
}

.org-tip-content {
  margin: 5px 0;
  min-height: 0;
  max-height: 200px;
  overflow-y: auto;
}

.tooltip-inner {
  background: #152935;
  max-width: 300px;
  border-radius: 0;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #152935;
}

.tooltip.top .tooltip-arrow  {
  border-top-color: #152935;
}

.tooltip.in {
  opacity: 1;
}

/* Comments */

.comment-textarea {
  width: 100%;
  height: 100px;
  margin-top: 20px;
  padding: 5px 10px;
}

/* Elements */

.btn {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px 12px;
  font-size: 12px;
  font-weight: lighter;
  border-radius: 0;
  margin-bottom: 5px;
}

.btn:hover, .btn:focus {
  color: #c0c0c0;
  border: 1px solid #c0c0c0;
}

.btn a {
  color: #fff;
}

.btn:hover a, .btn a:hover {
  color: #c0c0c0;
  text-decoration: none;
}

.right-btn {
  float: right;
}

.reset-btn {
  float: right;
  margin: 14px 15px 0 0;
}

.panel {
  border: 1px solid #a1a1a1;
  border-radius: 0;
  padding: 10px;
}

.dropdown-menu {
  border-radius: 0;
  background: #152935;
  color: #fff;
}

.dropdown-menu li a {
  color: #fff;
  font-weight: lighter;
  font-size: 14px;
  min-width: 100px;
}

.missing-data {
  color: red;
}

.glyphicon-home {
  float: left;
  font-size: 20px;
  margin: 17px 10px;
}

.list-length {
  width: 40px;
  padding: 4px 0 7px 10px;
  margin: 0 10px 0 5px;
  border: 1px solid #ccc;
}

/* Charts */

#topics-chart {
  padding: 10px 20px;
}

.topics-label {
  cursor: pointer;
}

.panel-no-padding {
  border: 1px solid #a1a1a1;
  border-radius: 0;
}

/* Axis */

#chart-svg .axis text {
  fill: #fff;
  font-size: 10px;
}

#chart-svg .axis text.label {
  fill: #000;
}

.axis text {
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
}

.axis line, .axis path {
  fill: none;
  stroke: #a0a0a0;
  shape-rendering: crispEdges;
}

.scatter-axis line {
  stroke: #f0f0f0;
}

.scatter-legend {
  stroke: #e0e0e0;
  stroke-width: 1;
  fill: #fff;
}

.d3-tip {
  padding: 12px;
  background: #fff;
  border: 1px solid #a0a0a0;
  width: 290px;
}

.d3-tip:after, .d3-tip:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.d3-tip:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}
.d3-tip:before {
  border-color: rgba(160, 160, 160, 0);
  border-top-color: #a0a0a0;
  border-width: 11px;
  margin-left: -11px;
}

.d3-tip dl {
  width: 180px;
  float: left;
}

.d3-tip dt {
  color: #000;
  font-weight: lighter;
  width: 120px;
  float: left;
}

.d3-tip dd {
  width: calc(100% - 120px);
  float: left;
}

.d3-tip img {
  float: left;
  width: 80px;
}

/* Height percentages */

.full-height {
  height: 100%;
}

.middle-row {
  height: 50%;
  margin-bottom: 15px;
}

.bottom-row {
  height: 30%;
}

/* Maps */

.years-menu {
  z-index: 5;
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  height: 100%;
  width: 150px;
}

.year {
  font-size: 40px;
  font-family: "Helvetica Neue", sans-serif;
  cursor: pointer;
}

.selected-year {
  font-weight: bold;
}

/* Author papers */

#toggle {
  z-index: 5;
  position: absolute;
  right: 30px;
  bottom: 15px;
  padding: 20px 15px 0 15px;
  height: 35px;
  width: 110px;
  border: 1px solid #a1a1a1;
  cursor: pointer;
}

#toggle .toggle-button {
  font-size: 12px;
  text-decoration: underline;
}

#wrote {
  padding: 0 30px;
}

#map {
  width: 100%;
  height: 200px;
}

.floating-header {
  float: left;
}

.header-extension {
  margin-left: 5px;
}

.authorFilters {
  float: right;
  margin-top: 26px;
}

.filters-right {
  margin-right: 25px;
}

.authorFilters input[type="checkbox"] {
  margin-top: 0;
  float: left;
}

.authorFilters .journal, .authorFilters .external-conference, .authorFilters .patent, .authorFilters .internal-conference, .authorFilters .technical-report, .authorFilters .other-document {
  margin-top: 1px;
  margin-left: 10px;
  float: left;
}

.clear {
  clear: both;
}

.no-bullets {
  list-style-type: none;
}

.journal, .external-conference, .patent, .internal-conference, .technical-report, .other-document {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-right: 5px;
  margin-left: -10px;
  border: 1px solid #22394A;
  background: red;
}

.document-1 {
  top: 3px;
  margin-left: -20px;
  margin-right: 8px;
  z-index: -1;
  position: relative;
}

.document-2 {
/*  top: 6px;
  margin-left: -20px;
  z-index: -2;
  position: relative;*/
  display: none;
}

.document-3, .document-4, .document-5 {
  display: none;
}

.paper-type-left-margin {
  margin-left: 5px;
}

.journal {
  background: #5596e6;
}

.external-conference {
  background: #00b299;
}

.patent {
  background: #7c56a5;
}

.internal-conference {
  background: #f49c4e;
}

.technical-report {
  background: #cc3f40;
}

.other-document {
  background: #94a3ab;
}

/* Edge bundle chart */
#edge-bundle-chart svg {
  background: none;
}

#edge-bundle-chart .orgarc path {
  cursor: pointer;
  opacity: 0.5;
}

#edge-bundle-chart .orgarc text {
  cursor: pointer;
  opacity: 0.8;
}

#edge-bundle-chart g.orgarc:hover  {
  opacity: 1;
}

#edge-bundle-chart .orgarc:hover > path {
  stroke: #fff;
}

#edge-bundle-chart .secarc path {
  opacity: 0.5;
}

#edge-bundle-chart .secarc text {
  opacity: 0.8;
}

#edge-bundle-chart path.arc {
  cursor: move;
  fill: #000;
}

#edge-bundle-chart .node {
  font-size: 10px;
  fill: #eee; /*#9C88DE;*/
  opacity: 0.8;
  cursor: pointer;
  pointer-events: all;
}

#edge-bundle-chart .node text {
  pointer-events: auto;
  text-shadow: none;
}

#edge-bundle-chart .node:hover {
  fill: #fff !important;
  opacity: 1;
  -font-size: 16px;
}

#edge-bundle-chart .link {
  fill: none;
  stroke: #8783B9;
  stroke-opacity: 0.15;
  pointer-events: none;
}

#edge-bundle-chart .link-active {
  stroke-opacity: 1;
}

#edge-bundle-chart .author-active {
  fill: #FFFF6B;
  opacity: 1;
}

#edge-bundle-chart .author-inactive {
  fill: #999;
  opacity: 0.3;
}

#edge-bundle-chart .author-org-active {
  opacity: 1;
  fill: #fff;
}

#edge-bundle-chart .networkLink {
  fill:none;
  stroke: #8783B9;
}

/* Narrative chart */

@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i|PT+Sans|PT+Sans:b|Cutive+Mono|Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Patrick+Hand+SC);
@import url(http://fonts.googleapis.com/css?family=Walter+Turncoat);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);
@import url(http://fonts.googleapis.com/css?family=Short+Stack);

textarea {
  font-size: 100%;
}

body > pre {
  border-left: solid 2px #ccc;
  padding-left: 18px;
  margin: 2em 0 2em -20px;
}

#narrative-chart {
  height: 700px;
  width: calc(100% - 100px);
  margin-left: 50px;
}

.narrative-legend {
  z-index: 5;
  position: absolute;
  right: 80px;
  top: 15px;
  padding: 10px;
  height: 65px;
  width: 120px;
  border: 1px solid #a1a1a1;
}

.legend-key {
  height: 10px;
  width: 10px;
}

.html .value,
.javascript .string,
.javascript .regexp {
  color: #756bb1;
}

.html .tag,
.css .tag,
.javascript .keyword {
  color: #3182bd;
}

.comment {
  color: #636363;
}

.html .doctype,
.javascript .number {
  color: #31a354;
}

.html .attribute,
.css .attribute,
.javascript .class,
.javascript .special {
  color: #e6550d;
}

svg {
  font: 10px sans-serif;
  background: white;
}

sup, sub {
  line-height: 0;
}

.scene {
  cursor: pointer;
  fill-opacity: .15;
  color: #787878;
  shape-rendering: auto;
}

.scene:hover {
  fill-opacity: 0.6;
  color: #FFFF00;
}

.node {
  cursor: pointer;
}

.node text {
  pointer-events: none;
  text-shadow: 1px 1px #fff;
  font-size: 10px;
}

.link {
  fill: none;
}

.link:hover {
  stroke-opacity: 1;
}

.comic-title {
  cursor: pointer;
  pointer-events: all;
  font-family: "Cutive Mono", sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1em;
  letter-spacing: -1px;
}

#paper-title-box {
  z-index: 5;
  position: absolute;
  left: 80px;
  top: 15px;
  padding: 10px;
  height: 35px;
  width: calc(100% - 295px);
  border: 1px solid #a1a1a1;
}

.paper-title {
  font-size: 14px;
}

.paper-title-placeholder {
  font-size: 14px;
  opacity: 0.5;
}

p.step {
  margin: -0.5em 0 0 1.2em;
}

p.todo {
  font-style: italic;
  margin: 0 0 0 1.2em;
  color: #580000;
  font-size: 12px;
}