<!--
 * (C) Copyright IBM Corporation  2016, 2017
 * All Rights Reserved
 -->

<div class="col-md-12 footer-padding">
  <div class="row">
    <div class="list-view">
      <h3>Computed Controlled English</h3>
      <div>
        <!-- Generated CE -->
        <div ng-show="computedCe.length === 0">
          <p>Loading CE...</p>
        </div>
        <div class="ce-list" ng-repeat="ce in computedCe">
          <p style="white-space: pre;">{{ce}}</p>
        </div>
        <div class="ce-list" ng-repeat="ce in computedTotalCe">
          <p style="white-space: pre;">{{ce}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
