<!--
 * (C) Copyright IBM Corporation  2016, 2017
 * All Rights Reserved
 -->

<div class="col-md-12 footer-padding">
  <div class="row">
    <!-- Description -->
    <p class="center">
      <span ng-class="[{'answer-highlight': nameHighlight}]">{{name}}</span>
      <span class="highlight">
        (<span ng-class="[{'answer-highlight': is_located_atHighlight}]">{{country}}</span>,
        <span ng-class="[{'answer-highlight': typeHighlight}]">{{industry}}</span>)
      </span>
    </p>
  </div>

  <div class="row">
    <div class="col-md-9">
      <div class="list-view">
        <div ng-show="currentView === views[0]" id="org-papers-chart">
          <h3>Papers</h3>

          <div bar-chart data="chartData"></div>
        </div>

        <div ng-show="currentView === views[1]" id="org-papers-list">
          <div class="col-md-12">
            <top-header headertext="header"></top-header>

            <div class="authorFilters">
              <label ng-show="journalPapers" class="journal"></label>
              <input ng-show="journalPapers" id="journalInput" type="checkbox" ng-model="journalInput">
              <label ng-show="externalPapers" class="external-conference"></label>
              <input ng-show="externalPapers" id="externalInput" type="checkbox" ng-model="externalInput">
              <label ng-show="patents" class="patent"></label>
              <input ng-show="patents" id="patentInput" type="checkbox" ng-model="patentInput">
              <label ng-show="internalPapers" class="internal-conference"></label>
              <input ng-show="internalPapers" id="internalInput" type="checkbox" ng-model="internalInput">
              <label ng-show="technicalReports" class="technical-report"></label>
              <input ng-show="technicalReports" id="technicalInput" type="checkbox" ng-model="technicalInput">
              <label ng-show="otherDocuments" class="other-document"></label>
              <input ng-show="otherDocuments" id="otherInput" type="checkbox" ng-model="otherInput">
            </div>
          </div>

          <ul class="results-list clear">
            <li class="no-bullets" ng-repeat="paper in papersList | orderBy : 'name' | orderBy : sortCommand | filter : filterPapers">
              <span ng-class="[className, ('document-' + $index)]" ng-repeat="className in paper.class track by $index"></span>
              <a ng-href="{{scienceLibrary}}/paper/{{paperid}}" class="list-name">{{paper.name}}</a>
              <small ng-if="paper.noteworthy"><span class="glyphicon glyphicon-star-empty highlight" aria-hidden="true"></span> ({{paper.noteworthy}})</small> <small ng-if="item[sortValue] && sortShow" class="highlight">({{paper[sortValue]}})</small>
            </li>
          </ul>
        </div>

        <div ng-show="currentView === views[2]" id="org-authors-list">
          <div class="col-md-12">
            <top-header headertext="header"></top-header>
          </div>

          <!-- Results list -->
          <ul class="results-list" ng-class="[{'answer-highlight': employsHighlight}]">
            <li ng-repeat="item in authorsList | limitTo : listLength | orderBy : 'name' | orderBy : sortCommand">
              <a ng-href="{{scienceLibrary}}/author/{{item.id}}" class="list-name">{{item.name}}</a>
              <small ng-if="item[sortValue] && sortShow" class="highlight">({{item[sortValue]}})</small>
            </li>
          </ul>
        </div>

        <div ng-show="currentView === views[0]" class="float-right">
          <span class="helper-text">Click a bar on the graph to show papers.</span>
        </div>

        <div class="center">
          <button ng-show="currentView !== views[0]" class="btn view-btn" ng-click="showView(views[0])">Show Papers Chart</button>
          <button ng-show="currentView !== views[1]" class="btn view-btn" ng-click="showView(views[1])">List Papers</button>
          <button ng-show="currentView !== views[2]" class="btn view-btn" ng-click="showView(views[2])">List Authors</button>
        </div>
      </div>
    </div>

    <div class="col-md-3 side-list-view">
      <div>
        <h3>Statistics</h3>

        <div class="total-publication-count">
          <dl class="dl-horizontal dl-publications" ng-class="[{'answer-highlight': publicationsHighlight}]">
            <div ng-show="totalExternalPublications" ng-class="[{'answer-highlight': total_publication_countHighlight}]">
              <dt>Total (External)</dt>
              <dd>{{totalExternalPublications}}</dd>
            </div>
            <div ng-show="totalInternalPublications" ng-class="[{'answer-highlight': total_publication_countHighlight}]">
              <dt>Total (Internal)</dt>
              <dd>{{totalInternalPublications}}</dd>
            </div>
          </dl>
          <hr class="statistics-hr">
          <dl class="dl-horizontal dl-publications" ng-class="[{'answer-highlight': publicationsHighlight}]">
            <div ng-show="journalPapers" ng-class="[{'answer-highlight': journal_paper_countHighlight}]">
              <dt>Journals</dt>
              <dd>{{journalPapers}}</dd>
            </div>
            <div ng-show="externalPapers" ng-class="[{'answer-highlight': external_paper_countHighlight}]">
              <dt>External Conferences</dt>
              <dd>{{externalPapers}}</dd>
            </div>
            <div ng-show="patents" ng-class="[{'answer-highlight': patent_countHighlight}]">
              <dt>Patents</dt>
              <dd>{{patents}}</dd>
            </div>
          </dl>
          <hr class="statistics-hr">
          <dl class="dl-horizontal dl-publications" ng-class="[{'answer-highlight': publicationsHighlight}]">
            <div ng-show="internalPapers" ng-class="[{'answer-highlight': internal_paper_countHighlight}]">
              <dt>Internal Conferences</dt>
              <dd>{{internalPapers}}</dd>
            </div>
            <div ng-show="technicalReports" ng-class="[{'answer-highlight': technical_report_countHighlight}]">
              <dt>Technical Reports</dt>
              <dd>{{technicalReports}}</dd>
            </div>
            <div ng-show="otherDocuments" ng-class="[{'answer-highlight': other_document_countHighlight}]">
              <dt>Other Documents</dt>
              <dd>{{otherDocuments}}</dd>
            </div>
          </dl>
        </div>
      </div>

      <!-- <h3>Publications</h3> -->

      <!-- Pie Chart -->
      <div class="col-md-3">
        <div pie-chart data="pieData" factor="0.25"></div>
      </div>
    </div>
  </div>
</div>
