<!--
 * (C) Copyright IBM Corporation  2016, 2017
 * All Rights Reserved
 -->

<div class="col-md-12 footer-padding">
  <div class="row">
    <!-- Title -->
    <p class="center">
      <span class="highlight" ng-class="[{'answer-highlight': titleHighlight}]">{{title}}</span>
      was published
      <span class="highlight" ng-class="[{'answer-highlight': publish_dateHighlight}]">{{published}}</span>
      <small ng-if="noteworthy">
        ({{noteworthy}})
      </small>
    </p>
  </div>

  <div class="row">
    <!-- Paper -->
    <div class="col-md-6">
      <div ng-if="paperSource && source == paperSource" >
        <a ng-href="{{paperDownloadUrl}}"><img class="paper-img" id="paper-img" ng-src="{{paperSource}}" ng-class="[{'answer-highlight': paper_thumbnailHighlight}]"/></a>
        <div class="paper-buttons">
          <button ng-if="posterSource && source !== posterSource" ng-click="show('poster')" class="btn">Show Poster</button>
          <button ng-if="presentationSource && source !== presentationSource" ng-click="show('presentation')" class="btn">Show Presentation</button>
        </div>
      </div>
      <div ng-if="posterSource && source == posterSource" >
        <a ng-href="{{posterDownloadUrl}}"><img class="poster-img" id="poster-img" ng-src="{{posterSource}}" ng-class="[{'answer-highlight': poster_thumbnailHighlight}]"/></a>
        <div class="paper-buttons">
          <button ng-if="paperSource && source !== paperSource" ng-click="show('paper')" class="btn">Show Paper</button>
          <button ng-if="presentationSource && source !== presentationSource" ng-click="show('presentation')" class="btn">Show Presentation</button>
        </div>
      </div>
      <div ng-if="presentationSource &&  source == presentationSource" >
        <a ng-href="{{presentationDownloadUrl}}"><img class="presentation-img" id="presentation-img" ng-src="{{presentationSource}}" ng-class="[{'answer-highlight': presentation_thumbnailHighlight}]"/></a>
        <div class="paper-buttons">
          <button ng-if="paperSource && source !== paperSource" ng-click="show('paper')" class="btn">Show Paper</button>
          <button ng-if="posterSource && source !== posterSource" ng-click="show('poster')" class="btn">Show Poster</button>
        </div>
      </div>
    </div>

    <!-- Details -->
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <!-- Authors -->
          <dl class="dl-horizontal" ng-class="[{'answer-highlight': authorHighlight}]">
            <dt>Authors</dt>
            <dd>
              <span ng-repeat="author in orderedAuthors">
                <a ng-href="{{scienceLibrary}}/author/{{author.id}}">{{author.name}}</a><span ng-if="$index !== orderedAuthors.length - 1">, </span>
              </span>
              <small>({{orderedAuthors.length}})</small>
            </dd>
          </dl>
          <dl class="dl-horizontal" ng-if="projects" ng-class="[{'answer-highlight': projectHighlight}]">
            <dt>Projects</dt>
            <dd>
              <span ng-repeat="project in projects">
                <a ng-href="{{scienceLibrary}}/project/{{project.id}}">{{project.name}}</a><span ng-if="$index !== papers.length - 1">, </span>
              </span>
              <span ng-if="!projects">None</span>
            </dd>
          </dl>

          <!-- Abstract -->
          <dl class="dl-horizontal" ng-class="[{'answer-highlight': abstractHighlight}]">
            <dt>Abstract</dt>
            <dd class="paper-abstract" id="paper-abstract">
              {{abstract}}
              <button ng-if="!abstract" class="btn" ng-click="addAbstract()">
                Add Abstract
              </button>
            </dd>
          </dl>

          <!-- Citations -->
          <dl class="dl-horizontal" ng-class="[{'answer-highlight': citation_countHighlight}]">
            <dt>Citations</dt>
            <dd>
              <a ng-if="citationCount" ng-href="{{citationCount.url}}">{{citationCount.count}}</a>
              <span ng-if="!citationCount">
                <a ng-href="{{scholarLink}}">Unknown</a>
                <button class="btn" ng-click="addCitationCount()">Add Citation Count</button>
              </span>
            </dd>
          </dl>

          <!-- Status -->
          <dl class="dl-horizontal" ng-class="[{'answer-highlight': statusHighlight}]">
            <dt>Status</dt>
            <dd ng-if="status" class="status-warning">{{status | capitalise}}</dd>
            <dd ng-if="!status">Accepted</dd>
          </dl>

          <!-- Paper Type -->
          <dl class="dl-horizontal" ng-class="[{'answer-highlight': paper_typeHighlight}]">
            <dt>Paper Type</dt>
            <dd>{{paperType}} <span class="paper-type-left-margin" ng-class="paperClass"></span></dd>
          </dl>

          <!-- Noteworthy reason -->
          <dl class="dl-horizontal" ng-if="noteworthy">
            <dt>Noteworthy</dt>
            <dd>
              <small ng-if="noteworthy">
                <span ng-if="url" >
                  <a href="{{url}}" target="_new"><span class="glyphicon glyphicon-star-empty highlight" aria-hidden="true"></span></a>
                </span>
                <span ng-if="!url" class="glyphicon glyphicon-star-empty highlight" aria-hidden="true"></span>
                ({{noteworthy}})
              </small>
            </dd>
          </dl>
        </div>
      </div>

      <div ng-if="venue || venueDetails" class="row">
        <!-- Venue -->
        <div class="col-md-6">
          <span ng-if="venue.lat">
            <div ng-class="[{'answer-highlight': venueHighlight}]">
              <h5>Venue</h5>
              <ui-gmap-google-map center='map.center' zoom='map.zoom'>
                <ui-gmap-marker idkey='marker.id' coords='marker.coords'></ui-gmap-marker>
              </ui-gmap-google-map>
              <a ng-href="{{scienceLibrary}}/venue/{{venue.id}}/{{venue.name}}">{{venue.name}}</a>
            </div>
          </span>
          <span ng-if="venueDetails">
            <dl class="dl-horizontal" ng-class="[{'answer-highlight': paper_typeHighlight}]">
              <dt>Venue</dt>
              <dd>{{venueDetails}}</dd>
            </dl>
          </span>
        </div>
    </div>

    <div ng-if="variants" class="row">
      <div class="col-md-6">
        <!-- Similar Papers -->
        <div ng-if="variants.length > 0" class="paper-variants" ng-class="[{'answer-highlight': variantHighlight}]">
          <h5>Variants</h5>

          <ul class="results-list no-bullets no-min-list">
            <li ng-repeat="variant in variants">
              <span ng-class="variant.className"></span>
              <a ng-href="{{scienceLibrary}}/paper/{{variant.id}}">{{variant.name}}</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Download Links -->
        <div class="paper-download-buttons">
          <a class="btn" ng-if="paperDownloadUrl" ng-href="{{paperDownloadUrl}}" ng-class="[{'answer-highlight': paper_fileHighlight}]" target="_self">
            Download Paper
          </a>
          <a class="btn" ng-if="posterDownloadUrl" ng-href="{{posterDownloadUrl}}" ng-class="[{'answer-highlight': poster_fileHighlight}]" target="_self">Download Poster</a>
          <a class="btn" ng-if="presentationDownloadUrl" ng-href="{{presentationDownloadUrl}}" ng-class="[{'answer-highlight': presentation_fileHighlight}]" target="_self">Download Presentation</a>
        </div>
      </div>
    </div>
  </div>
</div>
