<h3 class="floating-header">
  <!-- Top 50 -->
  <span ng-if="!header">
    View
    <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle>
        <span class="highlight bold list-name">{{listName}}<span class="caret"></span></span>
      </a>
      <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
        <li role="menuitem" ng-repeat="(key, type) in listTypes">
          <a ng-show="type !== listTypes.projects" ui-sref="category({category: key})" ng-click="select(type)">{{type | capitalise}}</a>
        </li>
      </ul>
    </span>
  </span>

  <!-- Header text -->
  <span ng-if="header">
    {{header}}
  </span>

  <span ng-show="sort.names">
    sorted by
    <span uib-dropdown on-toggle="toggled(open)">
      <a href id="simple-dropdown" uib-dropdown-toggle>
        <span class="highlight bold list-name">{{sortName}}<span class="caret"></span></span>
      </a>
      <ul class="uib-dropdown-menu" aria-labelledby="simple-dropdown">
        <li role="menuitem" ng-repeat="type in sort.names">
          <a href="#" ng-click="sortList($index)">{{type | capitaliseFirstOnly}}</a>
        </li>
      </ul>
    </span>
  </span>
</h3>
