<!--
 * (C) Copyright IBM Corporation  2016, 2017
 * All Rights Reserved
 -->

<div class="modal-header">
  <h3 class="modal-title">Warning</h3>
</div>
<div class="modal-body">
  <p>Any spoken data will be sent to Google's servers for processing. Your data <strong>will</strong> leave the security of this network.</p>
</div>
<div class="modal-footer">
  <button class="btn" type="button" ng-click="ok()">OK</button>
  <button class="btn right-btn" type="button" ng-click="cancel()">Cancel</button>
</div>
