.paper-img {
  margin: 0 -45px 30px;
  width: calc(100% + 90px);

  @media (min-width: 700px) {
    width: initial;
    margin: 0;
    max-width: 100%;
  }
}

.paper-abstract {
  overflow: scroll;
}

.paper-download-buttons {
  text-align: center;
}
