<div class="col-md-12 footer-padding">
  <div class="row">
    <!-- Title -->
    <p class="center">
      <span class="highlight" ng-class="[{'answer-highlight': full_nameHighlight}]">{{author}}</span> is affiliated to <span class="highlight"><a ng-href="organisation/{{employer.id}}" ng-class="[{'answer-highlight': is_employed_byHighlight}]">{{employer.name}}</a></span>
    </p>
  </div>

  <!-- Chart -->
  <div class="row">
    <div class="col-md-9">
      <div ng-show="currentView === views[0]" id="narrative-chart" class="panel"></div>

      <div ng-show="currentView === views[1]" id="authors-publications-list" class="list-view list-view-no-margin" ng-class="[{'answer-highlight': wroteHighlight}]">
        <h3 class="floating-header">{{author}} wrote</h3>

        <div class="authorFilters">
          <label ng-show="journalPapers" class="journal"></label>
          <input ng-show="journalPapers" id="journalInput" type="checkbox" ng-model="journalInput">
          <label ng-show="externalPapers" class="external-conference"></label>
          <input ng-show="externalPapers" id="externalInput" type="checkbox" ng-model="externalInput">
          <label ng-show="patents" class="patent"></label>
          <input ng-show="patents" id="patentInput" type="checkbox" ng-model="patentInput">
          <label ng-show="internalPapers" class="internal-conference"></label>
          <input ng-show="internalPapers" id="internalInput" type="checkbox" ng-model="internalInput">
          <label ng-show="technicalReports" class="technical-report"></label>
          <input ng-show="technicalReports" id="technicalInput" type="checkbox" ng-model="technicalInput">
          <label ng-show="otherDocuments" class="other-document"></label>
          <input ng-show="otherDocuments" id="otherInput" type="checkbox" ng-model="otherInput">
        </div>

        <ul class="results-list clear" id="publications-results-list">
          <li class="no-bullets" ng-repeat="paper in papersList | orderBy : 'name' | orderBy : '-weight' | filter : filterPapers">
            <span ng-class="[className, ('document-' + $index)]" ng-repeat="className in paper.class track by $index"></span>
            <a ng-href="paper/{{paper.id}}" class="list-name">{{paper.name}}</a>
            <small ng-if="paper.noteworthy"><span class="glyphicon glyphicon-star-empty highlight" aria-hidden="true"></span> ({{paper.noteworthy}})</small><!-- <small ng-if="paper.citations" class="highlight" uib-tooltip="Citation count">({{paper.citations}})</small> -->
          </li>
        </ul>
      </div>

      <div ng-show="currentView === views[2]" id="authors-coauthors-list" class="list-view list-view-no-margin" ng-class="[{'answer-highlight': co-authorHighlight}]">
        <h3>{{author}} co-authored with</h3>
        <ul class="results-list" id="coauthors-results-list">
          <li ng-repeat="coauthor in coauthorsList | orderBy : '-count'">
            <a ng-href="collaboration?author={{authorId}}&author={{coauthor.id}}" class="list-name">{{coauthor.name}}</a> <!-- <small class="highlight" uib-tooltip="Number of co-authored papers">({{coauthor.count}})</small> -->
          </li>
        </ul>
      </div>

      <div ng-show="currentView === views[3]" id="authors-coauthors-chart" class="list-view list-view-no-margin" ng-class="[{'answer-highlight': co-authorHighlight}]">
        <div>
          <h3 class="floating-header">{{author}} co-authors with</h3>

          <div class="authorFilters filters-right">
            <label class="ac"></label>
            <input id="acInput" type="checkbox" ng-model="acInput">
            <label class="ind"></label>
            <input id="indInput" type="checkbox" ng-model="indInput">
            <label class="gov"></label>
            <input id="govInput" type="checkbox" ng-model="govInput">
          </div>
        </div>

        <force-directed-graph nodes="nodes" ac="acInput" gov="govInput" ind="indInput"></force-directed-graph>
        <p class="helper-text center">Hover over a node to view co-author's details. Click a node to go to their collaboration page.</p>
      </div>

      <div class="center">
        <button ng-show="currentView !== views[0]" class="btn view-btn" ng-click="showView(views[0])">Show Narrative Chart</button>
        <button ng-show="currentView !== views[1]" class="btn view-btn" ng-click="showView(views[1])">List Papers</button>
        <button ng-show="currentView !== views[2]" class="btn view-btn" ng-click="showView(views[2])">List Co-Authors</button>
        <button ng-show="currentView !== views[3]" class="btn view-btn" ng-click="showView(views[3])">Show Co-Authors Graph</button>
      </div>
    </div>

    <!-- <div class="row author-pubs"> -->
    <div class="col-md-3">
      <!-- Publications -->
      <div>
        <h3>Statistics</h3>

        <div class="total-publication-count">
          <dl class="dl-horizontal dl-publications" ng-class="[{'answer-highlight': publicationsHighlight}]">
            <div ng-show="totalPublications" ng-class="[{'answer-highlight': total_publication_countHighlight}]">
              <dt>Total (External)</dt>
              <dd>{{totalPublications}}</dd>
            </div>
          </dl>
          <dl class="dl-horizontal dl-publications" ng-class="[{'answer-highlight': publicationsHighlight}]">
            <div ng-show="journalPapers" ng-class="[{'answer-highlight': journal_paper_countHighlight}]">
              <dt>Journals</dt>
              <dd>{{journalPapers}}</dd>
            </div>
            <div ng-show="externalPapers" ng-class="[{'answer-highlight': external_paper_countHighlight}]">
              <dt>External Conferences</dt>
              <dd>{{externalPapers}}</dd>
            </div>
            <div ng-show="patents" ng-class="[{'answer-highlight': patent_countHighlight}]">
              <dt>Patents</dt>
              <dd>{{patents}}</dd>
            </div>
            <div ng-show="internalPapers" ng-class="[{'answer-highlight': internal_paper_countHighlight}]">
              <dt>Internal Conferences</dt>
              <dd>{{internalPapers}}</dd>
            </div>
            <div ng-show="technicalReports" ng-class="[{'answer-highlight': technical_report_countHighlight}]">
              <dt>Technical Reports</dt>
              <dd>{{technicalReports}}</dd>
            </div>
            <div ng-show="otherDocuments" ng-class="[{'answer-highlight': other_document_countHighlight}]">
              <dt>Other Documents</dt>
              <dd>{{otherDocuments}}</dd>
            </div>
          </dl>
        </div>
      </div>

      <!-- Citations -->
      <div>
        <dl class="dl-horizontal dl-publications">
          <div ng-class="[{'answer-highlight': citation_countHighlight}]">
            <dt>Citation Count</dt>
            <dd ng-if="citationCount">
              <a ng-if="citationCount.url" ng-href="{{citationCount.url}}">{{citationCount.count}}</a>
              <span ng-if="!citationCount.url">{{citationCount.count}}</span>
            </dd>
            <dd ng-if="!citationCount">
              <a ng-href="{{scholarLink}}">Unknown</a>
              <button class="btn" ng-click="addCitations()">Add Citation Count</button>
            </dd>
          </div>
          <div class="dl-horizontal dl-publications" ng-class="[{'answer-highlight': h_indexHighlight}]">
            <dt>H-Index</dt>
            <dd ng-if="hIndex">
              <a ng-if="hIndex.url" ng-href="{{hIndex.url}}">{{hIndex.index}}</a>
              <span ng-if="!hIndex.url">{{hIndex.index}}</span>
            </dd>
            <dd ng-if="!hIndex">
              <a ng-href="{{scholarLink}}">Unknown</a>
              <button class="btn" ng-click="addCitations()">Add H-Index</button>
            </dd>
          </div>
        </dl>
      </div>

      <!-- Pie Chart -->
      <div pie-chart data="pieData" factor="0.25"></div>
    </div>
    <!-- </div> -->
  </div>
</div>
