<div class="container">
  <div class="col-md-12 footer-padding">
    <div class="row">
      <h3>International Technology Alliance in Network and Information Sciences</h3>
      <p>Welcome to the online legacy for the International Technology Alliance in Network and Information Sciences (NIS ITA).  Here you will find summary information relating to this highly successful 10-year program along with a full <a ng-href="{{home}}/{{scienceLibrary}}">Science Library</a> containing all of the publications, authors and organisations involved.</p>

      <p>The International Technology Alliance (ITA) was a research program initiated by the UK Ministry of Defence (United Kingdom) (MoD) and the US Army Research Laboratory (ARL), which was active for 10 years from May 2006 to May 2016. It was led by IBM Research in the U.S. and IBM Hursley in the UK.</p>
    </div>

    <div class="row">
      <h3>Key links</h3>

      <p>The links below take you to the various key parts of the legacy story. The remainder of this page gives a summary of the programme, membership, leadership, and key results.</p>

      <ul>
        <li>
          Science Library - <a ng-href="{{home}}/{{scienceLibrary}}">all publications</a>
        </li>
        <li><a ui-sref="statistics">Science Library Statistics</a></li>
        <li><a ui-sref="book">ITA book</a></li>
        <li><a ui-sref="experimentation">Experimentation framework</a></li>
        <li><a ui-sref="assets">Open source assets</a></li>
        <li><a ui-sref="plans">Programme Research Plans</a></li>
        <li><a ui-sref="qprs">Quarterly Progress Reports</a> (QPRs)</li>
        <li><a ui-sref="peer-review">Peer Review</a></li>
        <li><a ui-sref="capstone">Capstone events</a></li>
        <li><a ui-sref="cmc">Consortium Management Committee</a> (CMC)</li>
      </ul>
    </div>

    <div class="row">
      <h3>Overview</h3>

      <p>The complete name of the ITA alliance that ran from 2006-2016 was United States/United Kingdom International Technology Alliance in Network and Information Sciences. It was a research group tasked with conducting fundamental research in network science and information science which impacted coalition operations.</p>

      <p>The program was a combination of country-specific research programs that were run by ARL and MoD respectively. The ARL runs several programs called Collaborative Technology Alliances (CTAs) and the MoD runs equivalent programs, each of which are collaborative research programs involving multiple research institutes and universities. The CTAs programs are run for the duration of 3-5 years, and usually involve a consortium of industrial research laboratories and universities to team together to solve research problems in a specific domain.</p>

      <p>The International Technology Alliance differed from the CTAs primarily in the fact that its scope was international, and spanned two countries, the United States and the United Kingdom. Thus, the alliance consisted of researchers from ARL and MoD working together with several UK and US based industries and universities to solve several fundamental research problems.</p>

      <p>The research work in ITA was fundamental in nature, and the goal was to perform public domain research by means of published papers. The restriction of research to fundamental research was done in order to avoid running into any issues related to ITAR which often arise in work focused on or sponsored by the armed forces of a country.</p>

      <p>A unique aspect of ITA was its focus on solving scientific problems in the context of coalition operations. However, due to the nature of fundamental research, many results are applicable in situations which fall outside coalition operations, e.g. within networks of a single country military or for federation of commercial networked systems.</p>

      <p>During the first five years of its existence, ITA was focused on research in four technical areas (i) network theory focusing on wireless and sensor networks (ii) security across systems of systems focusing on solving security issues that arise when two different networks need to inter-operate (iii) sensor information processing and delivery focusing on issues involving sensor network information management and (iv) distributed decision making and coalition planning focusing on how humans from different countries use the network to make informed decisions.</p>

      <p>In the last five years of its existence, the four technical areas were consolidated and revised into two technical areas (v) Coalition Inter-operable Secure &amp; Hybrid Networks and (vi) Distributed Coalition Information Processing for Decision Making. Hybrid networks were defined as mobile networks that also leverage infrastructure networks such as cellular and wired networks.</p>
    </div>

    <div class="row">
      <h3>Members</h3>

      <p>The ITA consisted of several research laboratories and universities in U.S. and UK. These included the U.S. Army Research Laboratories and the UK Defense Science and Technologies as participating Government research laboratories. The non-government members of the alliance in both countries consisted of both industrial and academic research organizations as listed below:</p>

      <div class="center">
        <table class="inline-block">
          <tbody><tr>
            <td>
              <h3>U.S. Universities</h3>
              <ul class="no-bullets">
                <li>
                  <a ng-href="{{home}}/{{scienceLibrary}}/organisation/CMU">Carnegie Mellon University</a>
                </li>
                <li>
                  <a ng-href="{{home}}/{{scienceLibrary}}/organisation/CUNY">City University of New York</a>
                </li>
                <li>
                  <a ng-href="{{home}}/{{scienceLibrary}}/organisation/Columbia">Columbia University</a>
                </li>
                <li>
                  <a ng-href="{{home}}/{{scienceLibrary}}/organisation/PennState">Pennsylvania State University</a>
                </li>
                <li>
                  <a ng-href="{{home}}/{{scienceLibrary}}/organisation/RPI">Rensselaer Polytechnic Institute</a>
                </li>
                <li>
                  <a ng-href="{{home}}/{{scienceLibrary}}/organisation/UCLA">University of California, Los Angeles</a>
                </li>
                <li>
                  <a ng-href="{{home}}/{{scienceLibrary}}/organisation/UMD">University of Maryland, College Park</a>
                </li>
                <li>
                  <a ng-href="{{home}}/{{scienceLibrary}}/organisation/UMass">University of Massachusetts, Amherst</a>
                </li>
              </ul>

             <h3>UK Universities</h3>
             <ul class="no-bullets">
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/Cranfield">Cranfield University</a>
              </li>
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/Imperial">Imperial College, London</a>
              </li>
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/RHUL">Royal Holloway College, University of London</a>
              </li>
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/UniAberdeen">University of Aberdeen</a>
              </li>
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/UniCambridge">University of Cambridge</a>
              </li>
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/UniSoton">University of Southampton</a>
              </li>
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/UniYork">University of York</a>
              </li>
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/CardiffUni">Cardiff University</a>
              </li>
             </ul>

             <h3>U.S. Industry</h3>
             <ul class="no-bullets">
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/BBN">BBN Technologies</a>
              </li>
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/Boeing">Boeing</a>
              </li>
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/Honeywell">Honeywell</a>
              </li>
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/IBM-US">IBM Research</a>
                <br>which is the leader of the alliance in the U.S.
              </li>
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/ARA">Klein Associates</a>
                <br>subsequently acquired by Applied Research Associates
              </li>
             </ul>

             <h3>UK Industry</h3>
             <ul class="no-bullets">
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/IBM-UK">IBM UK</a>
                <br>which is the leader of the alliance in UK</li>
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/Logica">Logica CMG</a>
              </li>
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/Roke">Roke Manor Research</a>
              </li>
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/SEA">Systems Engineering and Assessment UK Ltd</a>
              </li>
              <li>
                <a ng-href="{{home}}/{{scienceLibrary}}/organisation/Airbus">Airbus UK Ltd </a>
              </li>
             </ul>
            </td>

            <td class="no-border" valign="top">
              <img src="i/NIS-ITA-Partners.png" width="400px">
            </td>
          </tr></tbody>
        </table>
      </div>

      <p>All of the organizations were members at the initiation of the program, with the exception of Cardiff University and Airbus UK Ltd which were added in the middle of the life-time of the alliance.</p>
     </div>

     <div class="row">
      <h3>Leadership</h3>
      <p>The alliance was led by a team consisting of technical leaders from U.S. Army Research Laboratories, UK MoD, IBM Research in the U.S. and IBM UK.</p>

      <p>During the life-time of the program, the following people served in the role of alliance leader listed above:</p>

      <div class="center">
        <table class="inline-block">
          <tbody><tr>
            <th>Organization</th>
            <th>Individual</th>
           </tr>
           <tr>
            <td>U.S. ARL</td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/jay_gowens">John Gowens</a>
              (2006-2011),
              John Pellegrino (2011-2016)
            </td>
           </tr>
           <tr>
            <td>UK MoD</td>
            <td>
             Jack Lemon (2006-2008),
             Graham George (2008-2009),
             Fiona Coutter(2009-2010),
             George Vongas (2011-2016)
            </td>
           </tr>
           <tr>
            <td>IBM Research</td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/dinesh_verma">Dinesh Verma</a>
            </td>
           </tr>
           <tr>
            <td>IBM UK</td>
            <td>David Watson</td>
           </tr>
          </tbody>
        </table>
      </div>
      <br>

      <p>Each of the six technical areas was led by a panel of four scientists, one each from the U.S. Army Research Laboratories, UK MoD, an academic member of the alliance, and an industrial member of the alliance. The following is a table of researchers who acted in the role of the technical area leaders (TAL) for each of the technical areas within the scope of the research program.</p>

      <div class="center">
        <table class="inline-block">
          <tbody><tr>
            <th>#</th>
            <th>Technical Area</th>
            <th>U.S. Govt TAL</th>
            <th>UK Govt TAL</th>
            <th>Academic TAL</th>
            <th>Industry TAL</th>
           </tr>

           <tr>
            <td>1</td>
            <td>Network Theory</td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/ananthram_swami">Ananthram Swami</a>
            </td>
            <td>Tom McCutcheon</td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/don_towsley">Don Towsley</a>
              <br>(UMass)
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/kang_won_lee">Kang-won Lee</a>
              <br>(IBM)
            </td>
           </tr>

           <tr>
            <td>2</td>
            <td>Security across Systems of Systems</td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/greg_cirincione">Greg Cirincione</a>
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/trevor_benjamin">Trevor Benjamin</a>
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/john_mcdermid">John McDermid</a>
              <br>(York)
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/dakshi_agrawal">Dakshi Agrawal</a>
              <br>(IBM US)
            </td>
           </tr>

           <tr>
            <td>3</td>
            <td>Sensor Information Processing</td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/tien_pham">Tien Pham</a>
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/gavin_pearson">Gavin Pearson</a>
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/thomas_laporta">Thomas F. LaPorta</a>
             <br>(PSU)
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/vicraj_thomas">Vicraj Thomas</a>
             <br>(Honeywell)
            </td>
           </tr>

           <tr>
            <td>4</td>
            <td>Distributed Decision Making</td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/mike_strub">Michael Strub</a>
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/jitu_patel">Jitu Patel</a>
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/nigel_shadbolt">Nigel Shadbolt</a>
              <br>(Southampton)
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/graham_bent">Graham Bent</a>
              <br>(IBM UK)
            </td>
           </tr>

           <tr>
            <td>5</td>
            <td>Secure Hybrid Networks</td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/ananthram_swami">Ananthram Swami</a>
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/trevor_benjamin">Trevor Benjamin</a>
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/don_towsley">Don Towsley</a>
              <br>(UMass)
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/mudhakar_srivatsa">Mudhakar Srivatsa</a>
              <br>(IBM US)
            </td>
           </tr>

           <tr>
            <td>6</td>
            <td>Distributed Information Processing</td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/tien_pham">Tien Pham</a>
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/gavin_pearson">Gavin Pearson</a>
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/alun_preece">Alun Preece</a>
             <br>(Cardiff)
            </td>
            <td>
              <a ng-href="{{home}}/{{scienceLibrary}}/author/dave_braines">Dave Braines</a>
              <br>(IBM UK)
            </td>
          </tr></tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <h3>Significant Results</h3>

      <p>As per the end of program book of achievements published by the alliance, its major scientific advances include:</p>

      <ul>
       <li>
        <strong>Network Tomography for Coalitions</strong>:
        ITA researchers developed the scientific principles underlying monitoring of dynamically changing coalition networks with minimum overhead. The insights can be used to instrument and observe a variety of networks with minimum possible probing.
       </li>
       <li>
        <strong>Distributed Dynamic Processing</strong>:
        The ITA programme developed the concept of bypassing network bottlenecks in the coalition edge by moving processing within the network, and analysed approaches for mapping distributed applications onto hybrid coalition networks. It has created new techniques for distributing streaming and transaction oriented applications, analyzing their performance, and improving the effectiveness of distributed applications
       </li>
       <li>
        <strong>Policy-based Security Management</strong>:
        ITA researchers developed new paradigms for security management using a policy-based approach, creating new frameworks for policy negotiation, policy refinement, and policy analysis. They applied them to create constructs like self-managing cells, and manage coalition information flows. The team developed techniques for determining security policies that can preserve privacy and sensitive data while allowing partners to make limited queries on that information.
       </li>
       <li> <strong>Cryptography Applications in Coalition Contexts</strong>:
        The ITA has made fundamental advances in making cryptographic techniques applicable in the context of coalition networks. These include the development of new identity-based encryption paradigms, efficient implementation-friendly reformulation of fully homomorphic encryption algorithms, and outsourcing computation securely to untrusted devices belonging to coalition partners.
       </li>
       <li>
        <strong>Advances in Argumentation Theory</strong>:
        ITA researchers provided the theoretical glue to accommodate trust, inconsistency and uncertainty in a distributed networked information systems and propose a principled method for linking provenance data with the evaluation of competing hypotheses to counter cognitive bias inherent in human analysts.
       </li>
       <li>
        <strong>Insights into fundamental limits and properties of mobile network
        structures</strong>:
        ITA researchers developed a variety of models characterizing scaling properties of mobile ad hoc hybrid networks found in coalitions. These models determine the fundamental communication capacity of disruption tolerant networks, modeled limits on structures with mathematically tractable topologies, identified information theoretic limits on capacity with security constraints, and characterized performance of multi-path and multi-point communications.
       </li>
       <li>
          <strong>Energy Efficiency Techniques</strong>:
          The alliance invented a variety of approaches to improve battery power consumption and energy efficiency in ad hoc networks. The approaches include distributed beam forming using cooperative communications and techniques for improving duty cycling behaviour in networks using self organization.
        </li>
        <li>
          <strong>Coalition Communications Interoperability</strong>:
          The alliance created new paradigms for inter-domain routing, identify differences in coalitions cultural norms, defined a new paradigm for shared understanding, and using declarative technologies for networking and security in coalition environments. Another related activity was the creation of a collaborative planning model.
        </li>
        <li>
          <strong>Quality of Information (QoI)</strong>:
          The ITA pioneered the concept of QoI, and created the framework, algorithms, and various use-cases surrounding the use of QoI in ISR and sensor networks. The concept had a significant impact on community, including starting the I2QS workshop and being a major thrust in the Network Science CTA programme.
        </li>
        <li>
          <strong>Mission-Aware Information Networking</strong>:
          The ITA developed a variety of techniques to adapt the network to meet the requirements of a mission, including approaches for optimizing networks to meet mission needs, matching assets to missions, and isolating faults in information networks. One of the key transition outputs was a Sensor Asset Matching tool for matching missions to assets available in the field to perform that task.
        </li>
        <li>
          <strong>Dynamic Distributed Federated Databases</strong>:
          ITA researchers created a model to represent sensor information flows as distributed databases, and devised the principles that allowed them to be federated dynamically in a manner that is both self-organizing and scalable. The work resulted in the Gaian Database technology, which has had multiple transitions to other programmes in MOD and the U.S. Army
        </li>
        <li>
          <strong>Advances in Cognitive modelling</strong>:
          The ITA made significant advances in the state of cognitive modelling, including computational modelling of specific cognitive processes, using the ACT-R cognitive architecture for understanding collective agent and human interactions, and conducting cognitive social simulations.
        </li>
        <li>
          <strong>Controlled Natural Language/Controlled English</strong>:
          The ITA programme made several advances in using a limited subset of English to improve the usability of computing systems by soldiers in the field in a variety of contexts, including mission planning, asset allocation, and policy specifications. Controlled English led to several transition activities through the development of a CE store.
        </li>
      </ul>
    </div>

    <div class="row">
      <h3>News and links</h3>

      <ul>
       <li>
        <a href="http://www.arl.army.mil/www/default.cfm?article=2727">U.S. Army news article on U.S. Capstone Event in March 2016</a>
       </li>
       <li>
        <a href="http://blog.ibmjstart.net/2016/04/21/2876-2/">IBM UK blog on UK Capstone Event in April 2016</a>
       </li>
       <li>
        <a href="http://www.igi-global.com/book/network-science-military-coalition-operations/37305">Network Science for Coalition Operations, IGI Press</a>
       </li>
       <li>
        <a ng-href={{home}}+"book/NISITA_book.pdf">Network Science ITA Book/Final Report on Program</a>
       </li>
       <li>
        <a ng-href="{{home}}/{{scienceLibrary}}/paper/doc-1400">Alun Preece, and Winston R. Sieck. "The international technology alliance in network and information sciences." IEEE Intelligent Systems, May 2007, pp. 18-19.
        </a>
       </li>
       <li>
        <a ng-href="{{home}}/{{scienceLibrary}}/paper/doc-tbc">Greg Cirincione and Jay Gowens, "The International Technology Alliance in Network and Information Science, A U.S.-U.K. Collaborative Venture", IEEE Communications Magazine, March 2007, pp. 14-18</a>
       </li>
      </ul>
    </div>
  </div>
</div>
