<!--
 * (C) Copyright IBM Corporation  2016, 2017
 * All Rights Reserved
 -->

<div class="container">
  <div class="col-md-12 footer-padding">
    <div class="row">
      <h3>International Technology Alliance in Network and Information Sciences</h3>
      <p>
        Welcome to the online legacy for the International Technology Alliance in
        Network and Information Sciences (NIS ITA).  Here you will find summary
        information relating to this highly successful 10-year program along with
        a full <a ng-href="./{{scienceLibrary}}">Science Library</a>
        containing all of the <a ng-href="./{{scienceLibrary}}/papers">publications</a>,
        <a ng-href="./{{scienceLibrary}}/authors">authors</a> and
        <a ng-href="./{{scienceLibrary}}/organisations">organisations</a> involved.
      </p>

      <p>
        The Network and Information Science (NIS) International Technology Alliance
        (ITA) was a landmark collaborative research programme initiated by the UK
        Ministry of Defence (United Kingdom) (MoD) and the US Army Research
        Laboratory (ARL), which was active for 10 years from May 2006 to May 2016.
        The programme was executed  by an Alliance of ARL and the UK Defence
        Science and Technology Laboratory (Dstl), integrated with a consortium
        of 25 leading academic and industrial organizations from both the US and
        UK with deep expertise in the fields of network and information science.
      </p>

      <p>
        The links below take you to the various key parts of the legacy story.
      </p>

      <ul>
        <li><a ng-href="./{{scienceLibrary}}">Science Library Publications</a></li>
        <li><a ui-sref="statistics">Science Library Statistics</a></li>
        <li><a ui-sref="book">ITA book</a></li>
        <li><a ui-sref="experimentation">Experimentation framework</a></li>
        <li><a ui-sref="assets">Open source assets</a></li>
        <li><a ui-sref="plans">Programme Research Plans</a></li>
        <li><a ui-sref="qprs">Quarterly Progress Reports</a> (QPRs)</li>
        <li><a ui-sref="peer-review">Peer Review</a></li>
        <li><a ui-sref="capstone">Capstone events</a></li>
        <li><a ui-sref="cmc">Consortium Management Committee</a> (CMC)</li>
      </ul>

      <p>
        The NIS ITA represented a new way of doing business: forming an international
        alliance of government, industry and academia to jointly conduct fundamental
        research. The origins of the concept were in similar national programmes,
        such as the US Army Collaborative Technology Alliances (CTA) and the MoD’s
        Defence Technology Centres (DTC).  Independent Peer Review identified the
        NIS ITA as
        <i>“an outstanding example of true, deep and enduring International Research Collaboration”</i>.
      </p>

      <p>
       The NIS ITA was initiated with the strategic goal of producing fundamental
       advances in network and information sciences to enhance distributed, secure
       and flexible networks for information delivery and decision-making in
       coalition operations. The focus has been on the hard problems associated
       with coalition operations.  This focus, coupled with the existing research
       interests and expertise of the two-nation, multi-organization, inter-discipline
       Alliance has brought a sharp focus to the programme, enabling different
       skills from academia, industry and government to be used together to great
       effect.  Independent Peer Review identified that the NIS ITA has
       <i>“significantly advanced the state-of-the-art in network and information science”</i>.
      </p>

      <p>You can read more about the
      <a ng-href="https://en.wikipedia.org/wiki/NIS-ITA">
        NIS ITA on wikipedia
      </a>.
    </p>
    </div>

  </div>
</div>