<!--
 * (C) Copyright IBM Corporation  2016, 2017
 * All Rights Reserved
 -->

<div class="container">
  <div class="col-md-12 footer-padding">
    <div class="row">
      <h3>International Technology Alliance in Distributed Analytics and Information Sciences</h3>
      <p>
        Welcome to the online legacy for the International Technology Alliance in
        Distributed Analytics and Information Sciences (DAIS ITA).  Here you will find
        information relating to this 10-year program along with
        a <a ng-href="./{{scienceLibrary}}">Science Library</a>
        containing all of the currently published <a ng-href="./{{scienceLibrary}}/papers">publications</a>,
        <a ng-href="./{{scienceLibrary}}/authors">authors</a> and
        <a ng-href="./{{scienceLibrary}}/organisations">organisations</a> involved.
      </p>

      <p>You can read more about the
      <a ng-href="https://en.wikipedia.org/wiki/DAIS-ITA">
        DAIS ITA on wikipedia
      </a>.
    </p>
    </div>

  </div>
</div>