<!--
 * (C) Copyright IBM Corporation  2016, 2017
 * All Rights Reserved
 -->

<footer class="footer">
  <form ng-submit="submit()">
    <h4 ng-click="resetListener()" class="reset-listener">H</h4>
    <input id="question-box" type="text" ng-model="question" name="text" class="question-text" placeholder="Some commands to try... 'Show me IBM UK', 'What is Fusion 2012?'... or type 'help' for more guidance" />
    <input type="submit" id="submit" value="GO" class="question-submit" />
  </form>
</footer>
